.blog-container {
    width: 66%;
    margin: auto;
}

.heading {
    /* margin-top: 50px; */
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}

.blog-list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    /* margin: 20px; */
    margin-top: 20px;
}