.blog-container {
    width: 65%;
    margin: auto;
    margin-bottom: 50px;
}

.heading {
    margin-top: 50px;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}

.blog-list {
    display: flex;
    justify-content: start;
    /* margin: 20px; */
    margin-top: 20px;
}