<div class="full-container">
    <div class="container">
        <div class="product-sidebar">
            <product-sidebar></product-sidebar>
        </div>

        <div class="main-content">
            <div class="heading-section">
                <h2>{{ title }}</h2>
                <!-- <hr class="heading-line" />
                <p>
                    The product offers a tool for integrating target genes or
                    regulatory cassettes into designated safe harbor sites, such
                    as AAVS1, CCR5.
                </p> -->
            </div>
            <!-- 
            <div class="floating-box" #floatingBox>
                <product-sidebar></product-sidebar>
            </div> -->

            <div class="product-container">
                <div class="product-section" [innerHTML]="content"></div>
                <!-- <div>
                    <table>
                        <tr>
                            <th colspan="3">Major Vector</th>
                            <th colspan="3">Donor Vector</th>
                            <th colspan="3">Scramble Control Vector</th>
                        </tr>
                        <tr>
                            <th class="tab-1">Product Name</th>
                            <th class="tab-1">SKU</th>
                            <th class="tab-1">Information</th>
                            <th class="tab-2">Donor Name</th>
                            <th class="tab-2">SKU</th>
                            <th class="tab-2">Information</th>
                            <th class="tab-3">Scramble Name</th>
                            <th class="tab-3">SKU</th>
                            <th class="tab-3">Information</th>
                        </tr>
                        <tr>
                            <td>hi</td>
                        </tr>
                    </table>
                </div> -->
                <div class="product-section">
                    <p>
                        Our design program assists customers in adjusting vector
                        components and developing specific functions tailored to
                        their unique requirements.
                    </p>
                    <a href="/design" class="custom-design-button"
                        >Go to Design</a
                    >
                </div>
                <div class="product-section">
                    <p>
                        If you have any further inquiries regarding your
                        project, please click the button to contact us. We are
                        fully equipped to accommodate a wide range of your
                        requirements.
                    </p>
                    <a href="/quote" class="custom-design-button"
                        >Get a Quote</a
                    >
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="services-section">
        <div class="service-card">
            <a class="primary-button">Plasmid Kits</a>
            <p>
                The plasmid kits are suitable for genomic editing applications
                in most cancer cell lines.
            </p>
        </div>
        <div class="service-card">
            <a class="primary-button">Virus Kits</a>
            <p>
                The virus kits utilize virus packaging to facilitate research in
                difficult-to-transfect cells and animal models.
            </p>
        </div>
        <div class="service-card">
            <a class="primary-button">Stable Cell Line Services</a>
            <p>
                We provide comprehensive stable cell line generation services
                tailored to specific custom requirements across a wide range of
                cell types.
            </p>
        </div>
    </div> -->
</div>
