<div class="full-container">
    <div class="main-container">
        <div class="product-sidebar">
            <product-sidebar></product-sidebar>
        </div>

        <div class="main-content">
            <div class="heading-section">
                <h2>{{ title }}</h2>
                <!-- <hr class="heading-line" />
                <p>
                    The product offers a tool for integrating target genes or
                    regulatory cassettes into designated safe harbor sites, such
                    as AAVS1, CCR5.
                </p> -->
            </div>
            <!-- 
            <div class="floating-box" #floatingBox>
                <product-sidebar></product-sidebar>
            </div> -->

            <div class="product-container">
                <div class="product-section" [innerHTML]="content"></div>

                <div class="kit-button-form">
                    @if (url == 'overexpression') {
                    <table>
                        <tr class="main-header">
                            <th colspan="3"></th>
                            <th colspan="3">Major Vector</th>
                            <th colspan="3">Donor Vector</th>
                            <th colspan="3">Scramble Control Vector</th>
                        </tr>
                        <tr>
                            <th class="tab-1" colspan="3">Class</th>
                            <th class="tab-1">Product Name</th>
                            <th class="tab-1">SKU</th>
                            <th class="tab-1">Information</th>
                            <th class="tab-2">Donor Name</th>
                            <th class="tab-2">SKU</th>
                            <th class="tab-2">Information</th>
                            <th class="tab-3">Scramble Name</th>
                            <th class="tab-3">SKU</th>
                            <th class="tab-3">Information</th>
                        </tr>
                        <tr>
                            <td rowspan="2" colspan="3">Non-Viral CDS-P011k</td>
                            <td>CRISPR KN AIO Kit-Gene AAVS1, Vector type</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/COT-FXD00A-AAVS1gk"
                                    >COT-FXD00A-AAVS1gk</a
                                >
                            </td>
                            <td>
                                The CRISPR tool specifically designed to target
                                and cut human AAVS1 safe harbor site.
                            </td>
                            <td>AAVS1 Dnr Std Kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/design?sku=CDS-FX00PA-XXXXXXk"
                                    >CDS-FX00PA-XXXXXXk</a
                                >
                            </td>
                            <td>
                                Insert Customer Gene into human AAVS1 site,
                                please specify your genes by clicking the button
                            </td>
                            <td>
                                GFP Donor Control AAVS1 Dnr Std Ctrl Kit, vector
                                type
                            </td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/CDS-FX0GPA-000000k"
                                    >CDS-FX0GPA-000000k</a
                                >
                            </td>
                            <td>Insert GFP into human AAVS1 site as control</td>
                        </tr>
                        <tr>
                            <td>CRISPR KN AIO Kit-Gene ROSA26, Vector type</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/COT-FXD00A-ROSA26gk"
                                    >COT-FXD00A-ROSA26gk</a
                                >
                            </td>
                            <td>
                                The CRISPR tool specifically designed to target
                                and cut mouse ROSA26 safe harbor site.
                            </td>
                            <td>Dnr Std Kit-ROSA26 Site</td>
                            <td>
                                <button
                                    (click)="
                                        goToQuotePage('Dnr Std Kit-ROSA26 Site')
                                    "
                                >
                                    Quote
                                </button>
                            </td>
                            <td>
                                Insert Customer Gene into mouse ROSA26 site,
                                please specify your custom gene by clicking the
                                button
                            </td>
                            <td>
                                GFP Donor Control Dnr Std Kit-ROSA26 Site,
                                vector type
                            </td>
                            <td>
                                <button
                                    (click)="
                                        goToQuotePage(
                                            'GFP Donor Control Dnr Std Kit-ROSA26 Site,
                                vector type'
                                        )
                                    "
                                >
                                    Quote
                                </button>
                            </td>
                            <td>
                                Insert GFP into mouse ROSA26 site as control
                            </td>
                        </tr>
                    </table>
                    } @else if (url == 'gene-knock-out') {
                    <table>
                        <tr class="main-header">
                            <th></th>
                            <th colspan="3">Major Vector</th>
                            <th colspan="3">Scramble Control Vector</th>
                        </tr>
                        <tr>
                            <th class="tab-1">Class</th>
                            <th class="tab-1">Product Name</th>
                            <th class="tab-1">SKU</th>
                            <th class="tab-1">Information</th>
                            <th class="tab-3">Scramble Name</th>
                            <th class="tab-3">SKU</th>
                            <th class="tab-3">Information</th>
                        </tr>
                        <tr>
                            <td>Non-Viral All-In-one COT-P031k</td>
                            <td>CRISPR KN AIO Kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/design?sku=COT-FXD0PA-XXXXXXk"
                                    >COT-FXD0PA-XXXXXXk</a
                                >
                            </td>
                            <td>
                                The non-viral CRISPR kit includes three
                                AI-designed gRNA sites tailored to target the
                                customer-specified genes. Please click button to
                                design the target genes.
                            </td>
                            <td>
                                Scramble Control CRISPR KN AIO Ctrl Kit, Vector
                                type
                            </td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/COT-FXD0PA-000000k"
                                    >COT-FXD0PA-000000k</a
                                >
                            </td>
                            <td>
                                The scramble sequence are used as non-specific
                                cutting control
                            </td>
                        </tr>
                        <tr>
                            <td>Viral All-in-one COM-P032k</td>
                            <td>CRISPR KN Lenti-AIO Kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/design?sku=COM-FXD0PA-XXXXXXl"
                                    >COM-FXD0PA-XXXXXXl</a
                                >
                            </td>
                            <td>
                                The CRISPR lentivirus kit packages three
                                AI-designed gRNA sites into a single mixture
                                tube for precise targeting and cutting of
                                customer-specified genes. Please click button to
                                design the target genes.
                            </td>
                            <td>
                                Scramble Control CRISPR KN Lenti-AIO Ctrl Kit,
                                lentivirus type
                            </td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/COM-FXD0PA-000000l"
                                    >COM-FXD0PA-000000l</a
                                >
                            </td>
                            <td>
                                The scramble sequence are used as non-specific
                                cutting control
                            </td>
                        </tr>
                    </table>
                    } @else if (url == 'rna-knock-down') {
                    <table>
                        <tr class="main-header">
                            <th></th>
                            <th colspan="3">Major Vector</th>
                            <th colspan="3">Scramble Control Vector</th>
                        </tr>
                        <tr>
                            <th class="tab-1">Class</th>
                            <th class="tab-1">Product Name</th>
                            <th class="tab-1">SKU</th>
                            <th class="tab-1">Information</th>
                            <th class="tab-3">Scramble Name</th>
                            <th class="tab-3">SKU</th>
                            <th class="tab-3">Information</th>
                        </tr>
                        <tr>
                            <td>Non-Viral All-In-one CRT-P051k</td>
                            <td>CRISPR KD AIO kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/design?sku=CRT-FXD0PA-XXXXXXk"
                                    >CRT-FXD0PA-XXXXXXk</a
                                >
                            </td>
                            <td>
                                The non-viral CRISPR RNA knockdown kit includes
                                three AI-designed gRNA sites tailored to target
                                the customer-specified RNA. Please click button
                                to design the target RNA.
                            </td>
                            <td>CRISPR KD AIO Ctrl kit, Vector Type</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/CRT-FXD0PA-000000k"
                                    >CRT-FXD0PA-000000k</a
                                >
                            </td>
                            <td>
                                The scramble sequence are used as non-specific
                                control; Please click the button to include it
                                in the kit.
                            </td>
                        </tr>
                        <tr>
                            <td>Viral All-in-one CRM-P052l</td>
                            <td>CRISPR KD Lenti-AIO Kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/design?sku=CRM-FXD0PC-XXXXXXl"
                                    >CRM-FXD0PC-XXXXXXl</a
                                >
                            </td>
                            <td>
                                The CRISPR lentivirus kit packages three
                                AI-designed gRNA sites into a single mixture
                                tube for precise targeting and cutting of
                                customer-specified RNA. Please click button to
                                design the target RNA.
                            </td>
                            <td>CRISPR KD Lenti-AIO Ctrl Kit, Vector Type</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/design?sku=CRM-FXD0PC-000000l"
                                    >CRM-FXD0PC-000000l</a
                                >
                            </td>
                            <td>
                                The scramble sequence are used as non-specific
                                control; Please click the button to include it
                                in the kit.
                            </td>
                        </tr>
                    </table>
                    } @else if (url == 'cdna-vector-stock') {
                    <table>
                        <tr class="main-header">
                            <th rowspan="2">Class</th>
                            <th colspan="3">Main Plasmid</th>
                            <th colspan="4">Plasmid Feature</th>
                            <th rowspan="2">Target Gene</th>
                            <th colspan="2">Scramble Plasmid Order</th>
                        </tr>
                        <tr>
                            <th class="tab-1">Product Name</th>
                            <th class="tab-1">SKU</th>
                            <th class="tab-1">Accessory</th>
                            <th class="tab-2">Promoter</th>
                            <th class="tab-2">Protein Tag</th>
                            <th class="tab-2">Fluorescence Marker</th>
                            <th class="tab-2">Selection Marker</th>
                            <th class="tab-3">Control Sample</th>
                            <th class="tab-3">SKU</th>
                        </tr>
                        <tr>
                            <td rowspan="2">Viral</td>
                            <td>OverExp Lenti Kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/EML-CXD0PC-LARGETk"
                                    >EML-CXD0PC-LARGETk</a
                                >
                            </td>
                            <td>None</td>
                            <td>PCMV</td>
                            <td>MycDDK</td>
                            <td>None</td>
                            <td>Puro</td>
                            <td>LargeT</td>
                            <td>GFP control</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/EML-CXDGCC-000000k"
                                    >EML-CXDGPC-000000k</a
                                >
                            </td>
                        </tr>
                        <tr>
                            <td>OverExp Lenti Kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/EML-CXD0BC-LARGETk"
                                    >EML-CXD0BC-LARGETk</a
                                >
                            </td>
                            <td>None</td>
                            <td>PCMV</td>
                            <td>MycDDK</td>
                            <td>None</td>
                            <td>BSD</td>
                            <td>LargeT</td>
                            <td>GFP control</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/EML-CXDGBC-000000k"
                                    >EML-CXDGBC-000000k</a
                                >
                            </td>
                        </tr>
                    </table>
                    } @else if (url == 'lentivirus-control-stock') {
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                [class.active]="activeTab === 'tab-1'"
                                (click)="setActiveTab('tab-1')"
                                aria-current="page"
                                >Overexpression</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                [class.active]="activeTab === 'tab-2'"
                                (click)="setActiveTab('tab-2')"
                                aria-current="page"
                                >Inducible</a
                            >
                        </li>
                    </ul>
                    <table>
                        <tr class="main-header">
                            <th rowspan="2">Class</th>
                            <th colspan="3">Main Virus</th>
                            <th colspan="4">Features</th>
                        </tr>
                        <tr>
                            <th class="tab-1">Product Name</th>
                            <th class="tab-1">SKU</th>
                            <th class="tab-1">Accessory Virus</th>
                            <th class="tab-2">Promoter</th>
                            <th class="tab-2">Protein Tag</th>
                            <th class="tab-2">Fluorescence Marker</th>
                            <th class="tab-2">Selection Marker</th>
                        </tr>
                        <tr *ngIf="activeTab === 'tab-1'">
                            <td>Viral All-in-one</td>
                            <td>OverExp Lenti Ctrl Kit, lentivirus type</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/EML-CXDG0C-000000l"
                                    >EML-CXDG0C-000000l</a
                                >
                            </td>
                            <td>None</td>
                            <td>PCMV</td>
                            <td>MycDDK</td>
                            <td>GFP</td>
                            <td>None</td>
                        </tr>
                        <tr *ngIf="activeTab === 'tab-2'">
                            <td>Viral All-in-one</td>
                            <td>
                                Inducible Lenti-AIO Ctrl Kit, lentivirus type
                            </td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/IMM-DXDGPC-000000l"
                                    >IMM-DXDGPC-000000l</a
                                >
                            </td>
                            <td>None</td>
                            <td>Inducible</td>
                            <td>MycDDK</td>
                            <td>GFP</td>
                            <td>Puro</td>
                        </tr>
                    </table>
                    } @else if (url == 'cdna-lentivirus-stock') {
                    <table>
                        <tr class="main-header">
                            <th rowspan="2">Class</th>
                            <th colspan="3">Main Virus</th>
                            <th colspan="4">Features</th>
                            <th rowspan="2">Target Gene</th>
                            <th colspan="2">Control Virus</th>
                        </tr>
                        <tr>
                            <th class="tab-1">Product Name</th>
                            <th class="tab-1">SKU</th>
                            <th class="tab-1">Accessory Vector</th>
                            <th class="tab-2">Promoter</th>
                            <th class="tab-2">Protein Tag</th>
                            <th class="tab-2">Fluorescence Marker</th>
                            <th class="tab-2">Selection Marker</th>
                            <th class="tab-3">Control Sample</th>
                            <th class="tab-3">SKU</th>
                        </tr>
                        <tr>
                            <td rowspan="2">All-In-one</td>
                            <td>
                                OverExp Lenti Kit--Gene LargeT, lentivirus type
                            </td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/EML-CXD0PC-LARGETl"
                                    >EML-CXD0PC-LARGETl</a
                                >
                            </td>
                            <td>None</td>
                            <td>PCMV</td>
                            <td>MycDDK</td>
                            <td>None</td>
                            <td>Puro</td>
                            <td>LargeT</td>
                            <td>GFP control</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/EML-CXDGPC-000000k"
                                    >EML-CXDGPC-000000k</a
                                >
                            </td>
                        </tr>
                        <tr>
                            <td>
                                OverExp Lenti Kit--Gene LargeT, lentivirus type
                            </td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/EML-CXD0BC-LARGETl"
                                    >EML-CXD0BC-LARGETl</a
                                >
                            </td>
                            <td>None</td>
                            <td>PCMV</td>
                            <td>MycDDK</td>
                            <td>None</td>
                            <td>BSD</td>
                            <td>LargeT</td>
                            <td>GFP control</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/EML-CXDGBC-000000k"
                                    >EML-CXDGBC-000000k</a
                                >
                            </td>
                        </tr>
                    </table>
                    } @else if (url == 'stable-cell-line-stock') {
                    <table>
                        <tr class="main-header">
                            <th colspan="3">Stable Cell Line</th>
                            <th colspan="4">Gene Editing Feature</th>
                            <th rowspan="2">Target Gene</th>
                            <th rowspan="2">Cell Background</th>
                        </tr>
                        <tr>
                            <th class="tab-1">Product Name</th>
                            <th class="tab-1">SKU</th>
                            <th class="tab-1">Description</th>
                            <th class="tab-2">Promoter</th>
                            <th class="tab-2">Protein Tag</th>
                            <th class="tab-2">Fluorescence Marker</th>
                            <th class="tab-2">Selection Marker</th>
                        </tr>
                        <tr>
                            <td>OverExp Lenti Kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/EML-CXD0PC-LARGETc"
                                    >EML-CXD0PC-LARGETc</a
                                >
                            </td>
                            <td>
                                The large T antigen is integrated by lentivrius
                            </td>
                            <td>PCMV</td>
                            <td>MycDDK</td>
                            <td>None</td>
                            <td>Puro</td>
                            <td>LargeT</td>
                            <td>Fibroblast Cells</td>
                        </tr>
                    </table>
                    } @else if (url == 'vectors-on-shelf') {
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                [class.active]="activeTab === 'tab-1'"
                                (click)="setActiveTab('tab-1')"
                                aria-current="page"
                                >CRISPRa</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                [class.active]="activeTab === 'tab-2'"
                                (click)="setActiveTab('tab-2')"
                                aria-current="page"
                                >CRISPRi</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                [class.active]="activeTab === 'tab-3'"
                                (click)="setActiveTab('tab-3')"
                                aria-current="page"
                                >CRISPR KO</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                [class.active]="activeTab === 'tab-4'"
                                (click)="setActiveTab('tab-4')"
                                aria-current="page"
                                >CRISPR RNA KD</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                [class.active]="activeTab === 'tab-5'"
                                (click)="setActiveTab('tab-5')"
                                aria-current="page"
                                >RNAi</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                [class.active]="activeTab === 'tab-6'"
                                (click)="setActiveTab('tab-6')"
                                aria-current="page"
                                >Overexpression</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                [class.active]="activeTab === 'tab-7'"
                                (click)="setActiveTab('tab-7')"
                                aria-current="page"
                                >Inducible Expression</a
                            >
                        </li>
                    </ul>
                    <table>
                        <tr class="main-header">
                            <th rowspan="2">Class</th>
                            <th colspan="3">Major Vector</th>
                            <th colspan="4">Features</th>
                            <th colspan="2">Scramble Vector</th>
                        </tr>
                        <tr>
                            <th class="tab-1">Product Name</th>
                            <th class="tab-1">SKU</th>
                            <th class="tab-1">Accessary Vector</th>
                            <th class="tab-2">Promoter</th>
                            <th class="tab-2">Tag</th>
                            <th class="tab-2">Fluorescence Marker</th>
                            <th class="tab-2">Selection Marker</th>
                            <th class="tab-3">Control Sample</th>
                            <th class="tab-3">SKU</th>
                        </tr>
                        <tr *ngIf="activeTab === 'tab-1'">
                            <td>Non-Viral All-in-One</td>
                            <td>CRISPRa AIO Kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/design?sku=CAT-FXD00A-XXXXXXk"
                                    >CAT-FXD00A-XXXXXXk</a
                                >
                            </td>
                            <td>None</td>
                            <td>EF1core</td>
                            <td>MycDDK</td>
                            <td>None</td>
                            <td>None</td>
                            <td>scramble control</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/CAT-FXD00A-000000k"
                                    >CAT-FXD00A-000000k</a
                                >
                            </td>
                        </tr>
                        <tr *ngIf="activeTab === 'tab-1'">
                            <td>Viral All-in-one</td>
                            <td>CRISPRa AIO Kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/design?sku=CAM-FXD0PC-XXXXXXk"
                                    >CAM-FXD0PC-XXXXXXk</a
                                >
                            </td>
                            <td>None</td>
                            <td>EF1core</td>
                            <td>MycDDK</td>
                            <td>None</td>
                            <td>Puro</td>
                            <td>scramble control</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/CAM-FXD0PC-000000k"
                                    >CAM-FXD0PC-000000k</a
                                >
                            </td>
                        </tr>
                        <tr *ngIf="activeTab === 'tab-2'">
                            <td>Non-Viral All-in-One</td>
                            <td>CRISPRi AIO Kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/design?sku=CIT-FXD0PA-XXXXXXk"
                                    >CIT-FXD0PA-XXXXXXk</a
                                >
                            </td>
                            <td>None</td>
                            <td>EF1core</td>
                            <td>MycDDK</td>
                            <td>None</td>
                            <td>Puro</td>
                            <td>scramble control</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/CIT-FXD0PA-000000k"
                                    >CIT-FXD0PA-000000k</a
                                >
                            </td>
                        </tr>
                        <tr *ngIf="activeTab === 'tab-2'">
                            <td>Viral Standard</td>
                            <td>CRISPRi Lenti Kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/design?sku=CIL-FXD0BC-XXXXXXk"
                                    >CIL-FXD0BC-XXXXXXk</a
                                >
                            </td>
                            <td>standalone gRNA Vector</td>
                            <td>EF1core</td>
                            <td>MycDDK</td>
                            <td>None</td>
                            <td>Bla</td>
                            <td>scramble control</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/CIL-FXD0BC-000000k"
                                    >CIL-FXD0BC-000000k</a
                                >
                            </td>
                        </tr>
                        <tr *ngIf="activeTab === 'tab-2'">
                            <td>Viral All-in-one</td>
                            <td>CRISPRi Lenti-AIO kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/design?sku=CIM-FXD0BC-XXXXXXk"
                                    >CIM-FXD0BC-XXXXXXk</a
                                >
                            </td>
                            <td>None</td>
                            <td>EF1core</td>
                            <td>MycDDK</td>
                            <td>None</td>
                            <td>Bla</td>
                            <td>scramble control</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/CIM-FXD0BC-000000k"
                                    >CIM-FXD0BC-000000k</a
                                >
                            </td>
                        </tr>
                        <tr *ngIf="activeTab === 'tab-3'">
                            <td>Viral All-in-one</td>
                            <td>CRISPR KN AIO kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/design?sku=COM-FXD0PC-XXXXXXk"
                                    >COM-FXD0PC-XXXXXXk</a
                                >
                            </td>
                            <td>None</td>
                            <td>EF1core</td>
                            <td>MycDDK</td>
                            <td>None</td>
                            <td>Puro</td>
                            <td>scramble control</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/COM-FXD0PC-000000k"
                                    >COM-FXD0PC-000000k</a
                                >
                            </td>
                        </tr>
                        <tr *ngIf="activeTab === 'tab-4'">
                            <td>Non-Viral All-in-One</td>
                            <td>CRISPR KD AIO kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/design?sku=CRT-FXD0PA-XXXXXXk"
                                    >CRT-FXD0PA-XXXXXXk</a
                                >
                            </td>
                            <td>None</td>
                            <td>EF1core</td>
                            <td>MycDDK</td>
                            <td>None</td>
                            <td>Puro</td>
                            <td>scramble control</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/CRT-FXD0PA-000000k"
                                    >CRT-FXD0PA-000000k</a
                                >
                            </td>
                        </tr>
                        <tr *ngIf="activeTab === 'tab-4'">
                            <td>Viral All-in-one</td>
                            <td>CRISPR KD Lenti-AIO Kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/design?sku=CRM-FXD0PC-XXXXXXk"
                                    >CRM-FXD0PC-XXXXXXk</a
                                >
                            </td>
                            <td>None</td>
                            <td>EF1core</td>
                            <td>MycDDK</td>
                            <td>None</td>
                            <td>Puro</td>
                            <td>scramble control</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/CRM-FXD0PC-000000k"
                                    >CRM-FXD0PC-000000k</a
                                >
                            </td>
                        </tr>
                        <tr *ngIf="activeTab === 'tab-5'">
                            <td>Viral</td>
                            <td>RNAi Lenti Kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/design?sku=SHL-UX00PC-XXXXXXk"
                                    >SHL-UX00PC-XXXXXXk</a
                                >
                            </td>
                            <td>None</td>
                            <td>U6</td>
                            <td>None</td>
                            <td>None</td>
                            <td>Puro</td>
                            <td>scramble control</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/SHL-UX00PC-000000k"
                                    >SHL-UX00PC-000000k</a
                                >
                            </td>
                        </tr>
                        <tr *ngIf="activeTab === 'tab-6'">
                            <td>Non-viral</td>
                            <td>OverExp Std Kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/design?sku=EMS-CXDG0A-XXXXXXk"
                                    >EMS-CXDG0A-XXXXXXk</a
                                >
                            </td>
                            <td>None</td>
                            <td>PCMV</td>
                            <td>MycDDK</td>
                            <td>GFP</td>
                            <td>Neo</td>
                            <td>GFP control</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/EMS-CXDGNA-000000k"
                                    >EMS-CXDGNA-000000k</a
                                >
                            </td>
                        </tr>
                        <tr *ngIf="activeTab === 'tab-6'">
                            <td>Viral</td>
                            <td>OverExp Lenti Kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/design?sku=EML-CXD00C-XXXXXXk"
                                    >EML-CXD00C-XXXXXXk</a
                                >
                            </td>
                            <td>None</td>
                            <td>PCMV</td>
                            <td>MycDDK</td>
                            <td>None</td>
                            <td>None</td>
                            <td>GFP control</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/EML-CXDG0C-000000k"
                                    >EML-CXDG0C-000000k</a
                                >
                            </td>
                        </tr>
                        <tr *ngIf="activeTab === 'tab-7'">
                            <td>Non-viral All-in-one</td>
                            <td>Inducible AIO kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/design?sku=IMT-DX0GNA-XXXXXXk"
                                    >IMT-DX0GNA-XXXXXXk</a
                                >
                            </td>
                            <td>None</td>
                            <td>Inducible</td>
                            <td>None</td>
                            <td>GFP</td>
                            <td>Neo</td>
                            <td>GFP control</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/IMT-DX0GNA-000000k"
                                    >IMT-DX0GNA-000000k</a
                                >
                            </td>
                        </tr>
                        <tr *ngIf="activeTab === 'tab-7'">
                            <td>Viral All-in-one</td>
                            <td>Inducible Lenti-AIO Kit</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/design?sku=IMM-DXD0PC-XXXXXXk"
                                    >IMM-DXD0PC-XXXXXXk</a
                                >
                            </td>
                            <td>None</td>
                            <td>Inducible</td>
                            <td>MycDDK</td>
                            <td>None</td>
                            <td>Puro</td>
                            <td>GFP control</td>
                            <td>
                                <a
                                    class="sku-link"
                                    href="/products/item/IMM-DXDGPC-000000k"
                                    >IMM-DXDGPC-000000k</a
                                >
                            </td>
                        </tr>
                    </table>

                    }

                    <div class="product-section">
                        <p>
                            Our design program assists customers in adjusting
                            vector components and developing specific functions
                            tailored to their unique requirements.
                        </p>
                        <a href="/design" class="custom-design-button"
                            >Go to Design</a
                        >
                    </div>
                    <div class="product-section">
                        <p>
                            If you have any further inquiries regarding your
                            project, please click the button to contact us. We
                            are fully equipped to accommodate a wide range of
                            your requirements.
                        </p>
                        <a href="/quote" class="custom-design-button"
                            >Get a Quote</a
                        >
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="services-section">
        <div class="service-card">
            <a class="primary-button">Plasmid Kits</a>
            <p>
                The plasmid kits are suitable for genomic editing applications
                in most cancer cell lines.
            </p>
        </div>
        <div class="service-card">
            <a class="primary-button">Virus Kits</a>
            <p>
                The virus kits utilize virus packaging to facilitate research in
                difficult-to-transfect cells and animal models.
            </p>
        </div>
        <div class="service-card">
            <a class="primary-button">Stable Cell Line Services</a>
            <p>
                We provide comprehensive stable cell line generation services
                tailored to specific custom requirements across a wide range of
                cell types.
            </p>
        </div>
    </div> -->
    </div>
</div>
