<div class="container">
    <div class="product-sidebar">
        <product-sidebar></product-sidebar>
    </div>
    <div class="product-page">
        <div class="content">
            <div class="diagram">
                <img [src]="mainImage" class="main-image" />
                <div class="preview">
                    @for (image of images; track image) {
                    <img
                        src="{{ fullUrl(image.image) }}"
                        alt="Diagram"
                        (click)="changeMainImage(fullUrl(image.image))"
                    />
                    }
                </div>
            </div>
            <div class="product-container">
                <h2>{{ product_name }}</h2>
                <p>
                    Cat. #: <strong>{{ catalog_number }}</strong>
                </p>
                <p class="availability">Availability: In Stock</p>

                <div class="spec-container">
                    <span class="spec-label">Spec:</span>
                    <div class="spec-options">
                        @for (unit of unit_prices; track unit.id) {
                        <a
                            class="spec-tag"
                            [ngClass]="{
                                'spec-selected': unit_size_id === unit.id
                            }"
                            (click)="selectUnitSize(unit.id, unit.price)"
                        >
                            {{ unit.unit_size }}
                        </a>
                        }
                    </div>
                </div>

                <p class="price">${{ price }}</p>
                <div class="quantity">
                    <label for="qty">Qty</label>
                    <quantity-input
                        [quantity]="1"
                        (quantityChange)="onQuantityChange($event)"
                    ></quantity-input>
                </div>
                <button class="mt-3 cart-button" (click)="addToCart()">
                    Add to Cart
                </button>
            </div>
        </div>
        <div class="product-info-table">
            <div class="product-info-nav">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            [class.active]="activeTab === 'specifications'"
                            (click)="setActiveTab('specifications')"
                            aria-current="page"
                            >Specifications</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            [class.active]="activeTab === 'performance-data'"
                            (click)="setActiveTab('performance-data')"
                            >Performance Data</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            [class.active]="activeTab === 'manuals'"
                            (click)="setActiveTab('manuals')"
                            >Manuals</a
                        >
                    </li>
                </ul>
            </div>
            <div *ngIf="activeTab === 'specifications'">
                <div class="tab-header">Product Information</div>
                <table>
                    <tr>
                        <td class="first-column">
                            <strong>Description</strong>
                        </td>
                        <td [innerHTML]="description"></td>
                    </tr>
                    <tr>
                        <td class="first-column highlight">
                            <strong>Key Features</strong>
                        </td>
                        <td class="highlight" [innerHTML]="key_features"></td>
                    </tr>
                    <tr>
                        <td class="first-column">
                            <strong>Storage & Stability</strong>
                        </td>
                        <td [innerHTML]="storage_info"></td>
                    </tr>
                </table>
            </div>
            <div *ngIf="activeTab === 'performance-data'">
                <div class="tab-header">Performance Data</div>
                <table>
                    <tr>
                        <td [innerHTML]="performance_data"></td>
                    </tr>
                </table>
            </div>
            <div *ngIf="activeTab === 'manuals'">
                <div class="tab-header">Manuals</div>
                <div class="manual-table">
                    <ul class="list-unstyled">
                        @for (manual of manuals; track manual.id) {
                        <li>
                            <a
                                target="_blank"
                                rel="noopener noreferrer"
                                [href]="fullUrl(manual.manual)"
                                class="pdf-link"
                            >
                                <i class="bi bi-file-earmark-pdf h1"></i>
                                {{ manual.name }}
                            </a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<cart-popup [showPopup]="showPopup" [items]="cartItems"></cart-popup>
