.product-page {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 65%;
    margin: auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    gap: 20px;
}

.diagram {
    display: flex-column;
}

.diagram .main-image {
    display: flex;
    width: 600px;
    height: 200px;
    object-fit: fit;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.preview {
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.preview img {
    width: 50px;
    height: 50px;
    object-fit: fit;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.description {
    padding-left: 20px;
    flex: 1;
}

.description p {
    margin: 2px 0;
}

.description strong {
    display: inline-block;
    width: 200px;
}

.overview {
    margin-top: 50px;
}

/* Product Information Table */
.product-info-table {
    margin-top: 50px;
}

.product-info-nav li a {
    color: black !important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

td.highlight {
    background-color: #f0f0f0;
}

td.first-column {
    white-space: nowrap;
    width: 1px;
}

strong {
    font-weight: bold;
}

/* Product Order Table */
.product-order-table {
    margin-top: 50px;
    background-color: #fff;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead th {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
}

tbody td {
    padding: 10px;
    border: 1px solid #ccc;
    vertical-align: top;
    position: relative;
}

.price-column {
    width: 30%;
}

.price-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.price {
    color: red;
    font-weight: bold;
    display: block;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    background-color: #ff8c00;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
    position: absolute;
    bottom: 10px;
    /* right: 10px; */
}

button:hover {
    background-color: #ff7a00;
}

.manual-table {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 20px;
}

.tab-header {
    background-color: #f0f0f0;
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-weight: bold;
    font-size: 16px;
}

.pdf-link {
    color: green;
    text-decoration: none;
    font-size: 16px;
}

.pdf-link:hover {
    text-decoration: underline;
}

.pdf-link i {
    margin-right: 5px;
}

.product-container {
    padding-left: 20px;
    flex: 1;
}

.availability {
    color: green;
}

.price {
    margin-top: 30px;
    font-size: 24px;
    color: #007bff;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 20px;
}

.quantity input {
    width: 30px;
    text-align: center;
}

.btn {
    background-color: #2196F3;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.cart-button {
    margin-top: 20px;
}

.spec-container {
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
}

.spec-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

.spec-options {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.spec-tag {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    text-align: center;
    min-width: 110px;
    text-decoration: none;
    color: black;
}

@media (max-width: 1600px) {
    .diagram .main-image {
        width: 400px;
        height: 133px;
    }

    .description {
        padding-left: 0;
    }
}

@media (max-width: 1300px) {
    .content {
        flex-direction: column;
        justify-content: center;
    }

    .diagram .main-image {
        align-items: center;
        justify-content: center;
    }

    .preview {
        justify-content: left;
    }

    .description {
        padding-left: 0;
    }
}

@media (max-width: 1300px) {
    .diagram .main-image {
        width: 200px;
        height: 66px;
    }
}