.container {
    display: flex;
    width: 65%;
    margin: 0 auto;
}

.product-sidebar {
    width: 25%;
    margin-top: 40px;
}

.product-page {
    border-radius: 3px;
    border: 1px solid #eaeaea;
    background: white;
    padding: 1rem;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 75%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    gap: 20px;
}

.diagram {
    display: flex-column;
}

.diagram .main-image {
    display: flex;
    width: 400px;
    height: 200px;
    object-fit: contain;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.preview {
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.preview img {
    width: 50px;
    height: 50px;
    object-fit: fit;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.description {
    padding-left: 20px;
    flex: 1;
}

.description p {
    margin: 2px 0;
}

.description strong {
    display: inline-block;
    width: 200px;
}

.overview {
    margin-top: 50px;
}

/* Product Information Table */
.product-info-table {
    margin-top: 50px;
}

.product-info-nav li a {
    color: black !important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

td.highlight {
    background-color: #f0f0f0;
}

td.first-column {
    white-space: nowrap;
    width: 1px;
}

strong {
    font-weight: bold;
}

/* Product Order Table */
.product-order-table {
    margin-top: 50px;
    background-color: #fff;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead th {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
}

tbody td {
    padding: 10px;
    border: 1px solid #ccc;
    vertical-align: top;
    position: relative;
}

.price-column {
    width: 30%;
}

.price-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.price {
    margin-top: 20px;
    font-size: 24px;
    color: #007bff;
    font-weight: bold;
}

.list-price {
    text-decoration: line-through;
}

.discount-price {
    display: flex;
    align-items: first baseline;
}

.discount-percent {
    color: red;
    margin-right: 10px;
    font-size: 24px;
    font-weight: lighter;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.manual-table {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 20px;
}

.tab-header {
    background-color: #f0f0f0;
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-weight: bold;
    font-size: 16px;
}

.pdf-link {
    color: green;
    text-decoration: none;
    font-size: 16px;
}

.pdf-link:hover {
    text-decoration: underline;
}

.pdf-link i {
    margin-right: 5px;
}

.product-container {
    padding-left: 20px;
    flex: 1;
}

.availability {
    color: green;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 20px;
}

.quantity input {
    width: 30px;
    text-align: center;
}

.btn {
    background-color: #2196F3;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.cart-button {
    margin-top: 20px;
}

.spec-container {
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
}

.spec-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

.spec-options {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.spec-tag {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    text-align: center;
    min-width: 110px;
    text-decoration: none;
    color: black;
}

.spec-selected {
    border: 1px solid red;
}

@media (max-width: 1600px) {
    .diagram .main-image {
        max-width: 400px;
    }

    .description {
        padding-left: 0;
    }

    /* .container {
        flex-direction: column;
    } */

    .container {
        gap: 60px;
    }
}

@media (max-width: 1300px) {
    /* .content {
        flex-direction: column;
        justify-content: center;
    } */

    .container {
        width: 100%;
        padding: 0 20px;
    }

    .diagram .main-image {
        align-items: center;
        justify-content: center;
        max-width: 350px;
    }

    .preview {
        justify-content: left;
    }

    .description {
        padding-left: 0;
    }
}