<div class="d-flex flex-column" style="min-height: 100vh">
    <!-- Main Content Wrapper -->
    <div class="d-flex flex-grow-1">
        <div
            class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
            style="width: 280px"
        >
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a
                        href="/profile"
                        class="nav-link text-white"
                        aria-current="page"
                    >
                        My Account
                    </a>
                </li>
                <li>
                    <a
                        class="nav-link text-white d-flex justify-content-between align-items-center"
                        data-bs-toggle="collapse"
                        href="#ordersCollapse"
                        role="button"
                        aria-expanded="false"
                        aria-controls="ordersCollapse"
                    >
                        Orders
                        <i class="bi bi-chevron-down text-white"></i>
                    </a>
                    <div class="collapse" id="ordersCollapse">
                        <ul class="list-unstyled ps-3">
                            <li>
                                <a
                                    href="/profile/orders/open"
                                    class="nav-link text-white"
                                >
                                    Open Orders
                                </a>
                            </li>
                            <li>
                                <a
                                    href="/profile/orders/in-progress"
                                    class="nav-link text-white"
                                >
                                    Orders In Progress
                                </a>
                            </li>
                            <li>
                                <a
                                    href="/profile/orders/completed"
                                    class="nav-link text-white"
                                >
                                    Completed Orders
                                </a>
                            </li>
                            <li>
                                <a
                                    href="/profile/orders/all"
                                    class="nav-link text-white"
                                >
                                    All Orders
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/profile/messages" class="nav-link text-white"
                        >Messages</a
                    >
                </li>
                <li class="nav-item">
                    <!-- Services dropdown -->
                    <a
                        class="nav-link text-white d-flex justify-content-between align-items-center"
                        data-bs-toggle="collapse"
                        href="#servicesCollapse"
                        role="button"
                        aria-expanded="false"
                        aria-controls="servicesCollapse"
                    >
                        Services
                        <i class="bi bi-chevron-down text-white"></i>
                    </a>
                    <div class="collapse" id="servicesCollapse">
                        <ul class="list-unstyled ps-3">
                            <li>
                                <a
                                    href="/profile/services/custom-cloning"
                                    class="nav-link text-white"
                                >
                                    Custom Cloning Services
                                </a>
                            </li>
                            <li>
                                <a
                                    href="/profile/services/lentivirus-package"
                                    class="nav-link text-white"
                                >
                                    Lentivirus Package
                                </a>
                            </li>
                            <li>
                                <a
                                    href="/profile/services/stable-cell-line"
                                    class="nav-link text-white"
                                >
                                    Stable Cell Line Construction
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <!-- Products dropdown -->
                    <a
                        class="nav-link text-white d-flex justify-content-between align-items-center"
                        data-bs-toggle="collapse"
                        href="#productsCollapse"
                        role="button"
                        aria-expanded="false"
                        aria-controls="productsCollapse"
                    >
                        Products
                        <i class="bi bi-chevron-down text-white"></i>
                    </a>
                    <div class="collapse" id="productsCollapse">
                        <ul class="list-unstyled ps-3">
                            <li>
                                <a
                                    href="/products/overexpression"
                                    class="nav-link text-white"
                                >
                                    Overexpression Targeted Knock-In
                                </a>
                            </li>
                            <li>
                                <a
                                    href="/products/gene-knock-in"
                                    class="nav-link text-white"
                                >
                                    Gene Knock-In Tagging
                                </a>
                            </li>
                            <li>
                                <a
                                    href="/products/gene-knock-out"
                                    class="nav-link text-white"
                                >
                                    Gene Knock-out
                                </a>
                            </li>
                            <li>
                                <a
                                    href="/products/gene-deletion"
                                    class="nav-link text-white"
                                >
                                    Gene Deletion
                                </a>
                            </li>
                            <li>
                                <a
                                    href="/products/rna-knock-down"
                                    class="nav-link text-white"
                                >
                                    CRISPR RNA Knock-Down
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <hr />
                <li>
                    <a
                        href="/profile/settings"
                        class="nav-link active text-white d-flex align-items-center"
                    >
                        <i class="bi bi-gear me-2 text-white"></i>
                        Settings
                    </a>
                </li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="flex-grow-1 d-flex flex-column p-3">
            <h1 class="m-0">Settings</h1>
            <hr />
            <div class="section mb-2">
                <h3>Email</h3>
                <form [formGroup]="resetEmailForm" (submit)="submitEmail()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Current Email</mat-label>
                        <input
                            type="text"
                            matInput
                            [value]="email"
                            [disabled]="true"
                        />
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>New Email</mat-label>
                        <input
                            type="text"
                            formControlName="email"
                            matInput
                            required
                        />
                    </mat-form-field>
                    <button class="primary-button" type="submit">
                        Update Email
                    </button>
                </form>
                @if (emailSuccessMsg !== '') {
                <div class="success-message">{{ emailSuccessMsg }}</div>
                } @if (emailErrorMsg !== '') {
                <div class="error-message">{{ emailErrorMsg }}</div>
                }
            </div>

            <div class="section mb-4">
                <h3>Password</h3>
                <form
                    [formGroup]="resetPasswordForm"
                    (submit)="submitPassword()"
                >
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Current Password</mat-label>
                        <input
                            type="password"
                            formControlName="currentPassword"
                            matInput
                            required
                        />
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input
                            type="password"
                            matInput
                            formControlName="newPassword"
                        />
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input
                            type="password"
                            matInput
                            formControlName="confirmPassword"
                            required
                        />
                    </mat-form-field>
                    <button class="primary-button" type="submit">
                        Update Password
                    </button>
                </form>
            </div>

            @if (passwordSuccessMsg !== '') {
            <div class="success-message">{{ passwordSuccessMsg }}</div>
            } @if (passwordErrorMsg !== '') {
            <div class="error-message">{{ passwordErrorMsg }}</div>
            }
        </div>
    </div>
</div>
