<div class="product-page">
    @if (productId != -1) {
    <h1>{{product.product_name}}</h1>
    <div class="content">
        <div class="diagram">
            <img src="../../../assets/lego-design-diagram.png" alt="Diagram">
            <div class="button-design-group">
                <button class="button blue">Save Design</button>
                <button class="button blue">View Protocols</button>
            </div>
        </div>
        <div class="description">
            <!-- <h2>Products</h2> -->
            <p><strong>SKU Number:</strong>{{product.product_sku}}</p>
            <p><strong>Function Type: </strong>{{product.function_type_name}}</p>
            <p class="mb-3"><strong>Delivery Type: </strong>{{product.delivery_type_name}}</p>
            <!-- <h2>Structure</h2> -->
            <p><strong>Promoter: </strong>{{product.promoter_name}}</p>
            <p><strong>Protein Tag: </strong>{{product.protein_tag_name}}</p>
            <p><strong>Fluorescene Marker: </strong>{{product.fluorescene_marker_name}}</p>
            <p><strong>Selection Marker: </strong>{{product.selection_marker_name}}</p>
            <p class="mb-3"><strong>Antibiotics: </strong>{{product.bacterial_marker_name}}</p>
            <!-- <h2>Target Gene</h2> -->
            <p class="mb-3"><strong>Target Sequence: </strong>{{product.target_sequence}}</p>
            <div class="button-service-group">
                <button class="button orange">Download Design and Protocol</button>
                <button class="button orange">Customer Service</button>
            </div>
        </div>
    </div>
    <div class="button-nav-group mt-5">
        <button class="button light">Back</button>
        <button class="button light">Start new design</button>
        <button class="button blue">Add to Cart</button>
    </div>
    }
</div>