<div class="d-flex flex-column" style="min-height: 100vh">
    <!-- Main Content Wrapper -->
    <div class="d-flex flex-grow-1">
        <!-- Sidebar -->
        <div
            class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
            style="width: 280px"
        >
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a
                        href="/profile"
                        class="nav-link text-white"
                        aria-current="page"
                    >
                        My Account
                    </a>
                </li>
                <li>
                    <a href="/profile/orders" class="nav-link active">Orders</a>
                </li>
                <li>
                    <a href="/profile/messages" class="nav-link text-white"
                        >Messages</a
                    >
                </li>
                <li class="nav-item">
                    <!-- Services dropdown -->
                    <a
                        class="nav-link text-white d-flex justify-content-between align-items-center"
                        data-bs-toggle="collapse"
                        href="#servicesCollapse"
                        role="button"
                        aria-expanded="false"
                        aria-controls="servicesCollapse"
                    >
                        Services
                        <i class="bi bi-chevron-down text-white"></i>
                    </a>
                    <div class="collapse" id="servicesCollapse">
                        <ul class="list-unstyled ps-3">
                            <li>
                                <a
                                    href="/profile/services/custom-cloning"
                                    class="nav-link text-white"
                                >
                                    Custom Cloning Services
                                </a>
                            </li>
                            <li>
                                <a
                                    href="/profile/services/lentivirus-package"
                                    class="nav-link text-white"
                                >
                                    Lentivirus Package
                                </a>
                            </li>
                            <li>
                                <a
                                    href="/profile/services/stable-cell-line"
                                    class="nav-link text-white"
                                >
                                    Stable Cell Line Construction
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <!-- Products dropdown -->
                    <a
                        class="nav-link text-white d-flex justify-content-between align-items-center"
                        data-bs-toggle="collapse"
                        href="#productsCollapse"
                        role="button"
                        aria-expanded="false"
                        aria-controls="productsCollapse"
                    >
                        Products
                        <i class="bi bi-chevron-down text-white"></i>
                    </a>
                    <div class="collapse" id="productsCollapse">
                        <ul class="list-unstyled ps-3">
                            <li>
                                <a
                                    href="/products/overexpression"
                                    class="nav-link text-white"
                                >
                                    Overexpression Targeted Knock-In
                                </a>
                            </li>
                            <li>
                                <a
                                    href="/products/gene-knock-in"
                                    class="nav-link text-white"
                                >
                                    Gene Knock-In Tagging
                                </a>
                            </li>
                            <li>
                                <a
                                    href="/products/gene-knock-out"
                                    class="nav-link text-white"
                                >
                                    Gene Knock-out
                                </a>
                            </li>
                            <li>
                                <a
                                    href="/products/gene-deletion"
                                    class="nav-link text-white"
                                >
                                    Gene Deletion
                                </a>
                            </li>
                            <li>
                                <a
                                    href="/products/rna-knock-down"
                                    class="nav-link text-white"
                                >
                                    CRISPR RNA Knock-Down
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <hr />
                <li>
                    <a
                        href="/profile/settings"
                        class="nav-link text-white d-flex align-items-center"
                    >
                        <i class="bi bi-gear me-2 text-white"></i>
                        Settings
                    </a>
                </li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="flex-grow-1 p-3">
            <h1 class="m-0">My Orders</h1>
            <hr />
            <!-- Content Goes Here -->

            <mat-tab-group>
                <mat-tab label="Cloning CRISPR Orders">
                    <mat-form-field class="mt-4">
                        <mat-label>Filter</mat-label>
                        <input
                            matInput
                            (keyup)="applyCrisprFilter($event)"
                            placeholder="Ex. Mia"
                            #input
                        />
                    </mat-form-field>

                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="crisprOrders" matSort>
                            <ng-container matColumnDef="order_id">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Order ID
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.order_id }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="order_placed_date">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Order Placed Date
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.order_placed_date }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="work_period">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Work Period
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.work_period }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="est_delivery_date">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Est. Delivery Date
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.est_delivery_date }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="product_sku">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Product SKU
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.product_sku }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="product_name">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Product Name
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <a
                                        href="/products/item/{{
                                            row.product_sku
                                        }}"
                                    >
                                        {{ row.product_name }}</a
                                    >
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="quantity">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Quantity
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.quantity }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="total_price">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Total Price
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    ${{ row.total_price }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Status
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <span
                                        class="badge"
                                        [ngClass]="getBadgeClass(row.status)"
                                        >{{ getStatus(row.status) }}</span
                                    >
                                </td>
                            </ng-container>
                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                            ></tr>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row no-data-row" *matNoDataRow>
                                <td class="mat-cell" colspan="10">
                                    No data matching the filter "{{
                                        input.value
                                    }}"
                                </td>
                            </tr>
                        </table>

                        <mat-paginator
                            [pageSizeOptions]="[5, 10, 25, 100]"
                            aria-label="Select page of users"
                        ></mat-paginator>
                    </div>
                </mat-tab>
                <mat-tab label="Cloning Overexpression Orders">
                    <mat-form-field class="mt-4">
                        <mat-label>Filter</mat-label>
                        <input
                            matInput
                            (keyup)="applyOverexpressionFilter($event)"
                            placeholder="Ex. Mia"
                            #input
                        />
                    </mat-form-field>

                    <div class="mat-elevation-z8">
                        <table
                            mat-table
                            [dataSource]="overexpressionOrders"
                            matSort
                        >
                            <ng-container matColumnDef="order_id">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Order ID
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.order_id }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="order_placed_date">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Order Placed Date
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.order_placed_date }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="work_period">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Work Period
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.work_period }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="est_delivery_date">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Est. Delivery Date
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.est_delivery_date }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="product_sku">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Product SKU
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.product_sku }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="product_name">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Product Name
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <a
                                        href="/products/item/{{
                                            row.product_sku
                                        }}"
                                    >
                                        {{ row.product_name }}</a
                                    >
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="quantity">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Quantity
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.quantity }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="total_price">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Total Price
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    ${{ row.total_price }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Status
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <span
                                        class="badge"
                                        [ngClass]="getBadgeClass(row.status)"
                                        >{{ getStatus(row.status) }}</span
                                    >
                                </td>
                            </ng-container>
                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                            ></tr>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row no-data-row" *matNoDataRow>
                                <td class="mat-cell" colspan="10">
                                    No data matching the filter "{{
                                        input.value
                                    }}"
                                </td>
                            </tr>
                        </table>

                        <mat-paginator
                            [pageSizeOptions]="[5, 10, 25, 100]"
                            aria-label="Select page of users"
                        ></mat-paginator>
                    </div>
                </mat-tab>
                <mat-tab label="Cloning RNAi Orders">
                    <mat-form-field class="mt-4">
                        <mat-label>Filter</mat-label>
                        <input
                            matInput
                            (keyup)="applyRnaiFilter($event)"
                            placeholder="Ex. Mia"
                            #input
                        />
                    </mat-form-field>

                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="rnaiOrders" matSort>
                            <ng-container matColumnDef="order_id">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Order ID
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.order_id }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="order_placed_date">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Order Placed Date
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.order_placed_date }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="work_period">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Work Period
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.work_period }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="est_delivery_date">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Est. Delivery Date
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.est_delivery_date }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="product_sku">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Product SKU
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.product_sku }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="product_name">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Product Name
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <a
                                        href="/products/item/{{
                                            row.product_sku
                                        }}"
                                    >
                                        {{ row.product_name }}</a
                                    >
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="quantity">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Quantity
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.quantity }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="total_price">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Total Price
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    ${{ row.total_price }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Status
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <span
                                        class="badge"
                                        [ngClass]="getBadgeClass(row.status)"
                                        >{{ getStatus(row.status) }}</span
                                    >
                                </td>
                            </ng-container>
                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                            ></tr>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row no-data-row" *matNoDataRow>
                                <td class="mat-cell" colspan="10">
                                    No data matching the filter "{{
                                        input.value
                                    }}"
                                </td>
                            </tr>
                        </table>

                        <mat-paginator
                            [pageSizeOptions]="[5, 10, 25, 100]"
                            aria-label="Select page of users"
                        ></mat-paginator>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
