<div class="heading-section">
    <h2>Services</h2>
    <hr class="heading-line" />
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
    </p>
</div>

<div class="services-section">
    <div class="service-card">
        <a href="/services/custom-cloning" class="primary-button"
            >Custom Cloning Services</a
        >
        <p>
            We offer various plasmid construction services, complemented by a
            web design that facilitates customer involvement in the plasmid
            design process.
        </p>
    </div>
    <div class="service-card">
        <a href="/services/lentivirus-package" class="primary-button"
            >Lentivirus Package Services</a
        >
        <p>
            We offer high-quality lentivirus package service at a competitive
            price.
        </p>
    </div>
    <div class="service-card">
        <a href="/services/stable-cell-line" class="primary-button"
            >Stable Cell Line Services</a
        >
        <p>
            We offer stable cell line construction tailored to various
            requirements across different cancer cell lines and adherent cell
            lines at a relatively affordable price. Our services include gene
            overexpression, knockout, knock-in, and deletion.
        </p>
    </div>
</div>

<div class="quote-section">
    <h2>Get a Quote Today!</h2>
    <p>
        If you have any further inquiries regarding your project, please click
        the button to contact us. We are fully equipped to accommodate a wide
        range of your requirements.
    </p>
    <a href="/quote" class="quote-button">Get a Quote</a>
</div>
