<div class="form-container mat-elevation-z2">
    <h2>Service Request Form</h2>

    <form [formGroup]="quoteForm" (submit)="onSubmit()">
        <!-- Product or Service Type -->
        <div class="section">
            <h3><span class="required">*</span> 1. Product or Service Type</h3>

            <mat-radio-group formControlName="type" (change)="handleTypes()">
                <mat-radio-button value="productType"
                    >Gene Editing Type</mat-radio-button
                >
                <mat-radio-button value="serviceType"
                    >Service Type</mat-radio-button
                >
            </mat-radio-group>

            @if (this.quoteForm.value.type === "productType") {
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Products</mat-label>
                <mat-select formControlName="productType">
                    <mat-option value="Genome Targeted Knock-In"
                        >Genome Targeted Knock-In</mat-option
                    >
                    <mat-option value="Gene Knock-In Tagging"
                        >Gene Knock-In Tagging</mat-option
                    >
                    <mat-option value="Gene Knock-out"
                        >Gene Knock-out</mat-option
                    >
                    <mat-option value="Gene Deletion">Gene Deletion</mat-option>
                    <mat-option value="CRISPR RNA Knock-down"
                        >CRISPR RNA Knock-down</mat-option
                    >
                    <mat-option value="CRISPR Activation"
                        >CRISPR Activation</mat-option
                    >
                    <mat-option value="CRISPR Inhibition"
                        >CRISPR Inhibition</mat-option
                    >
                    <mat-option value="CRISPR Editing"
                        >CRISPR Editing</mat-option
                    >
                </mat-select>
            </mat-form-field>
            } @if (this.quoteForm.value.type === "serviceType") {
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Services</mat-label>
                <mat-select formControlName="serviceType">
                    <mat-option value="Custom Cloning Services"
                        >Custom Cloning Services</mat-option
                    >
                    <mat-option value="Lentivirus Package Services"
                        >Lentivirus Package Services</mat-option
                    >
                    <mat-option value="Stable Cell Line Services"
                        >Stable Cell Line Services</mat-option
                    >
                </mat-select>
            </mat-form-field>
            }
        </div>

        <!-- Gene of Interest -->
        <div class="section">
            <h3>2. Gene of Interest or Custom Sequence</h3>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Gene Sequence</mat-label>
                <textarea
                    matInput
                    formControlName="geneSequence"
                    rows="3"
                ></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Select Species</mat-label>
                <mat-select formControlName="geneSpecies">
                    <mat-option value="Mouse">Mouse</mat-option>
                    <mat-option value="Human">Human</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Gene Species -->
        <div class="section">
            <h3>3. Virus Type</h3>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Select Species</mat-label>
                <mat-select formControlName="virusType">
                    <mat-option value="Lentivirus">Lentivirus</mat-option>
                    <mat-option value="AAV Virus" disabled
                        >AAV Virus</mat-option
                    >
                    <mat-option value="n/a">Not applicable</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Mammalian Cells -->
        <div class="section">
            <h3>4. Mammalian cells for expression</h3>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Cell Name</mat-label>
                <input matInput formControlName="mammalianCells" />
            </mat-form-field>
        </div>

        <!-- Amount -->
        <div class="section">
            <h3>5. Amount</h3>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Plasmid Amount</mat-label>
                <mat-select formControlName="plasmidAmount">
                    <mat-option value="5ug">5μg</mat-option>
                    <mat-option value="10ug">10μg</mat-option>
                    <mat-option value="20ug">20μg</mat-option>
                    <mat-option value="n/a">Not applicable</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Virus Amount</mat-label>
                <mat-select formControlName="plasmidAmount">
                    <mat-option value="5ug">5μg</mat-option>
                    <mat-option value="10ug">10μg</mat-option>
                    <mat-option value="20ug">20μg</mat-option>
                    <mat-option value="n/a">Not applicable</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Cell Line Amount</mat-label>
                <mat-select formControlName="cellLineAmount">
                    <mat-option value="1x10^6">1X10⁶ cells</mat-option>
                    <mat-option value="2x10^6">2X10⁶ cells</mat-option>
                    <mat-option value="n/a">Not applicable</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="section">
            <h3><span class="required">*</span> 6. Contact Information</h3>
            <div class="form-row">
                <mat-form-field class="full-width">
                    <mat-label>First Name</mat-label>
                    <input
                        type="text"
                        formControlName="firstName"
                        matInput
                        placeholder="Fill in first name"
                    />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Last Name</mat-label>
                    <input
                        type="text"
                        formControlName="lastName"
                        matInput
                        placeholder="Fill in last name"
                    />
                </mat-form-field>
            </div>
            <mat-form-field class="full-width">
                <mat-label>Institution Name</mat-label>
                <input
                    type="text"
                    formControlName="institution"
                    matInput
                    placeholder="Name of Institution (e.g. Origene)"
                />
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input
                    type="email"
                    formControlName="email"
                    matInput
                    placeholder="Ex. pat@example.com"
                />
                @if (quoteForm.controls['email'].hasError('email') &&
                !quoteForm.controls['email'].hasError('required')) {
                <mat-error>Please enter a valid email address</mat-error>
                } @if (quoteForm.controls['email'].hasError('required')) {
                <mat-error>Email is <strong>required</strong></mat-error>
                }
            </mat-form-field>
        </div>

        <!-- Message -->
        <div class="section">
            <h3><span class="required">*</span> 7. Message</h3>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Your Message</mat-label>
                <textarea
                    matInput
                    formControlName="message"
                    rows="4"
                ></textarea>
            </mat-form-field>
        </div>

        <div class="submit-section">
            @if (this.submitted) {
            <p class="response-message">
                Thank you for your message. Our team will respond within one to
                three business days.
            </p>
            }
            <button type="submit" class="primary-button">Submit</button>
            @if (errorMsg !== '') {
            <div class="error-message">{{ errorMsg }}</div>
            }
        </div>
    </form>
</div>
