/* Summary Table for Structure Type Form */

.main-container {
    display: flex;
    gap: 120px;
    max-height: 400px;
    margin-right: 20px;
}

.titleName {
    font-weight: bold;
}

.titleSku {
    font-size: 14px;
    font-weight: normal;
}

.lego-diagram {
    width: auto;
    object-fit: contain;
}

.lego-diagram img {
    margin-left: 25px;
    width: 450px;
}

.s1 {
    position: relative;
    bottom: 195px;
    left: 435px;
}

.s2 {
    position: relative;
    bottom: 70px;
    left: 385px;
}

.s3 {
    position: relative;
    bottom: 45px;
    left: 225px;
}

.s4 {
    position: relative;
    bottom: 105px;
    left: 80px;
}

.s5 {
    position: relative;
    bottom: 220px;
    left: 20px;
}

.s6 {
    position: relative;
    bottom: 490px;
    left: 240px;
}

.short-name {
    margin-left: 20px;
    position: relative;
    bottom: 310px;
    /* left: 200px; */
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.s-hidden {
    opacity: 0;
}

.design-overview {
    margin-top: 20px;
    width: 100%;
    padding: 0;
}

.design-overview strong {
    display: inline-block;
    width: 200px;
}

.design-overview p {
    margin: 0;
}

.header {
    background-color: #f9f9f9;
    padding: 6px 12px;
    font-weight: bold;
    border: 1px solid #ddd;
    margin-bottom: -1px;
}

.section-header {
    background-color: #e0e0e0;
    padding: 6px 12px;
    font-weight: bold;
    border: 1px solid #ddd;
    margin-bottom: -1px;
}

.grid-item {
    padding: 6px 12px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.label {
    font-weight: 500;
    padding-right: 10px;
    white-space: nowrap;
}

.value {
    color: #666;
}


/* @media (max-width: 1900px) {
    .container {
        flex-direction: column;
        height: auto;
        gap: 0;
    }

    .lego-diagram {
        height: 460px;
    }
}

@media (max-width: 1000px) {

    .lego-diagram img {
        width: 250px;
    }
} */