<p class="h5 titleName" [ngClass]="{ 'pt-4 pl-4': sku === '' }">
    {{ longName }} <span class="titleSku">{{ product_sku }}</span>
</p>
<div class="main-container">
    <div class="lego-diagram">
        @if (promoterName) {
        <img src="../../../assets/Lego-Diagram-Full.png" />
        } @else if (!promoterName && structureTypeName) {
        <img src="../../../assets/Lego-Diagram-2.png" />
        } @else if (functionTypeName) {
        <img src="../../../assets/Lego-Diagram-1.png" />
        } @else if (!functionTypeName) {
        <img src="../../../assets/Lego-Diagram-0.png" />
        }
        <div class="s1" [ngClass]="{ 's-hidden': promoterName == '' }">
            {{ promoterName == "" ? "X" : promoterName }}
        </div>
        <div class="s2" [ngClass]="{ 's-hidden': functionTypeName == '' }">
            {{ functionTypeName == "" ? "X" : functionTypeName }}
        </div>
        <div class="s3" [ngClass]="{ 's-hidden': proteinTagName == '' }">
            {{ proteinTagName == "" ? "X" : proteinTagName }}
        </div>
        <div class="s4" [ngClass]="{ 's-hidden': fluoresceneMarkerName == '' }">
            {{ fluoresceneMarkerName == "" ? "X" : fluoresceneMarkerName }}
        </div>
        <div class="s5" [ngClass]="{ 's-hidden': selectionMarkerName == '' }">
            {{ selectionMarkerName == "" ? "X" : selectionMarkerName }}
        </div>
        <div class="s6" [ngClass]="{ 's-hidden': bacterialMarkerName == '' }">
            {{ bacterialMarkerName == "" ? "X" : bacterialMarkerName }}
        </div>
        <div class="short-name">{{ getShortName() }}</div>
    </div>
    <div class="design-overview">
        <div class="alert alert-info" role="alert">
            @if (description == '') { Click on a design button below to view
            more information!} @else {
            {{ description }}
            }
        </div>
        <p><strong>Category:</strong>{{ category }}</p>
        <p><strong>Function Type:</strong>{{ functionTypeName }}</p>
        <p><strong>Structure Type:</strong>{{ structureTypeName }}</p>
        <br />
        <p><strong>Promoter:</strong>{{ promoterName }}</p>
        <p><strong>Protein Tag:</strong>{{ proteinTagName }}</p>
        <p><strong>Fluorescence Marker:</strong>{{ fluoresceneMarkerName }}</p>
        <p><strong>Selection Marker:</strong>{{ selectionMarkerName }}</p>
        <p><strong>Antibiotics:</strong>{{ bacterialMarkerName }}</p>
        <br />
        <p><strong>Target Sequence:</strong>{{ targetSequence }}</p>
    </div>
</div>
