/* Summary Table for Structure Type Form */

.container {
    display: flex;
    gap: 110px;
    height: 500px;
}

.lego-diagram {
    width: 60%;
    object-fit: contain;
}

.lego-diagram img {
    margin-top: 30px;
    margin-left: 100px;
    width: 350px;
}

.textbox {
    width: 100px;
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 10px;
}

.s1 {
    position: relative;
    bottom: 200px;
    left: 455px;
}

.s2 {
    position: relative;
    bottom: 70px;
    left: 380px;
    width: 140px;
}

.s3 {
    position: relative;
    bottom: 60px;
    left: 220px;
}

.s4 {
    position: relative;
    bottom: 140px;
    right: -70px;
}

.s5 {
    position: relative;
    bottom: 270px;
}

.s6 {
    position: relative;
    bottom: 560px;
    left: 220px;
}

.short-name {
    position: relative;
    bottom: 400px;
    left: 200px;
    color: red;
    font-size: 14px;
    font-weight: bold;
}

.s-hidden {
    opacity: 0;
}

/* .table {
    width: 800px;
} */

.header {
    background-color: #f9f9f9;
    padding: 6px 12px;
    font-weight: bold;
    border: 1px solid #ddd;
    margin-bottom: -1px;
}

.section-header {
    background-color: #e0e0e0;
    padding: 6px 12px;
    font-weight: bold;
    border: 1px solid #ddd;
    margin-bottom: -1px;
}

.grid-item {
    padding: 6px 12px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.label {
    font-weight: 500;
    padding-right: 10px;
    white-space: nowrap;
}

.value {
    color: #666;
}


@media (max-width: 1900px) {
    .container {
        flex-direction: column;
        height: auto;
        gap: 0;
    }

    .lego-diagram {
        height: 460px;
    }
}

@media (max-width: 1000px) {

    .lego-diagram img {
        width: 250px;
    }
}