* {
    margin: 20px;
}

.heading {
    margin-top: 50px;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.service-list {
    display: flex;
    justify-content: start;
    /* margin: 20px; */
    margin-top: 20px;
}