<div class="search-container">
    @if (search_results.length === 0) {
    <h4>No results found for: "{{ query }}"</h4>

    } @else {
    <h4>{{ length }} products matching: "{{ query }}"</h4>
    <mat-paginator
        [length]="length"
        [pageSizeOptions]="[10, 20, 50, 100]"
        (page)="handlePageEvent($event)"
    ></mat-paginator>
    <div class="main-container">
        <div class="filter-bar"></div>
        <div class="results-container">
            @for (result of search_results; track result.product_id) {
            <a class="result-item" href="">
                <div class="result-title">{{ result.product_name }}</div>
                <div class="result-price">
                    ${{ result.unit_price | number : "1.2-2" }}
                </div>
            </a>
            }
        </div>
    </div>
    <mat-paginator
        [length]="length"
        [pageSizeOptions]="[10, 20, 50, 100]"
        (page)="handlePageEvent($event)"
    ></mat-paginator>
    }
</div>
