<div class="container">
    <div class="category">
        <h2>Genome Editing Services</h2>
        <ul>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="/services/genome-editing-services"
                    >Genome Editing Services</a
                >
            </li>
        </ul>
    </div>
    <div class="category">
        <h2>Stable Cell Line Services</h2>
        <ul>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="services/stable-cell-line"
                    >Stable Cell Line Services</a
                >
            </li>
        </ul>
    </div>
    <div class="category">
        <h2>Lentivirus Services</h2>
        <ul>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="services/lentivirus-package"
                    >Lentivirus Package Services</a
                >
            </li>
        </ul>
    </div>
    <div class="category">
        <h2>Custom Cloning Services</h2>
        <ul>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="/services/custom-cloning">Custom Cloning Services</a>
            </li>
        </ul>
    </div>
    <div class="category">
        <h2>Experiment Services</h2>
        <ul>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="/services/experiment-services">Western Blot</a>
            </li>
        </ul>
    </div>
    <div class="category">
        <h2><a href="/services/lab-supplies">Lab Supplies</a></h2>
    </div>
</div>
