<div class="product-page">
    <h1>p53 (TP53) Human Gene Knockout Kit (CRISPR)</h1>
    <div class="content">
        <div class="diagram">
            <img src="../../../assets/placeholder-card.jpg" alt="Diagram">
        </div>
        <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
            <div class="overview">
                <p><strong>SKU Number:</strong> CPD100011</p>
                <p><strong>Function:</strong> CRISPR Kit</p>
                <p><strong>Promoter for Target Gene:</strong> CAG</p>
                <p><strong>Target Gene:</strong> eSpCas9</p>
                <p><strong>Selection Gene:</strong> neomycin</p>
            </div>
        </div>
    </div>
    <div class="product-info-table">
        <div class="product-info-nav">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">Specifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Seq Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Protocols</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Other Products</a>
                </li>
            </ul>
        </div>
        <table>
            <tr>
                <td class="first-column"><strong>Vector Name</strong></td>
                <td>CRISPR Kit</td>
            </tr>
            <tr>
                <td class="first-column highlight"><strong>Vector Feature</strong></td>
                <td class="highlight">EF1a-GFP-P2A-Puro</td>
            </tr>
            <tr>
                <td class="first-column"><strong>Format Instruction</strong></td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</td>
            </tr>
        </table>
    </div>
    <div class="product-order-table">
        <table>
            <thead>
                <tr>
                    <th>SKU Number</th>
                    <th>Product</th>
                    <th>Size</th>
                    <th>Delivery Format</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CPD100011d</td>
                    <td>eSpCas9 lentivirus Titer 1x10^7 TU/ml</td>
                    <td>2x25 ul</td>
                    <td>Plasmid/DNA</td>
                    <td class="price-column">
                        <div class="price-container">
                            <span class="price">$212.00</span>
                            <input type="number" placeholder="Quantity">
                            <button>Add to Cart</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>CPD100011v</td>
                    <td>eSpCas9 lentivirus Titer 1x10^7 TU/ml</td>
                    <td>8x25 ul</td>
                    <td>Virus</td>
                    <td class="price-column">
                        <div class="price-container">
                            <span class="price">$272.00</span>
                            <input type="number" placeholder="Quantity">
                            <button>Add to Cart</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>