.product-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #F9F8FB;
}

.product-image img {
    width: 100%;
    height: auto;
}

.product-details {
    padding: 20px;
}

.product-details h3 {
    font-size: 20px;
    color: #281A39;
    margin-bottom: 10px;
}

.product-details p {
    font-size: 16px;
    color: #444;
    margin: 5px 0;
}

.view-products {
    display: inline-block;
    padding: 10px 20px;
    background-color: #281A39;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.view-products:hover {
    background-color: #543C6A;
    transform: scale(1.05);
}