<!-- <div class="navbar">
    <div class="left-group">
        <div class="logo">Logo</div>
        <nav>
            <ul>
                <li class="nav-item">
                    <a href="#">PRODUCTS</a>
                    <product-dropdown class="dropdown-content"></product-dropdown>
                </li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="/design">DESIGN</a></li>
                <li><a href="#">SUPPORT</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a routerLink="/product" routerLinkActive="active">TESTING</a></li>
            </ul>
        </nav>
    </div>
    <div class="right-group">
        <div class="contact">
            <span class="phone">1-800-111-1111</span>
            <div class="btn-group" role="group">
                <button id="btnAccountDropdown" type="button" class="btn btn-secondary dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Account
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnAccountDropdown">
                    <li><a class="dropdown-item" href="#">Dropdown</a></li>
                    <li><a class="dropdown-item" href="#">Dropdown</a></li>
                </ul>
            </div>
        </div>
        <div class="input-group">
            <input type="text" class="form-control border-end-0" placeholder="Search">
            <button class="btn btn-outline-secondary border bi bi-search" type="button"></button>
        </div>
        <div class="cart bi-cart2"></div>
    </div>
</div> -->


<div class="navbar">
    <div class="logo"><a href="#">GenomicTools</a></div>
    <nav>
      <ul>
        <li class="nav-item">
            <a href="/products">Products</a>
            <product-dropdown class="dropdown-content"></product-dropdown>
        </li>
        <li><a href="/services">Services</a></li>
        <li><a href="/design">Design</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="right-group">
      <div class="search">
        <input type="text" placeholder="Search">
        <button class="btn btn-outline-secondary border bi bi-search" type="button"></button>
      </div>
      <div class="cart bi-cart2"></div>
      <div class="profile bi bi-person-circle"></div>
    </div>
  </div>
  