<div class="navbar">
    <div class="logo">
        <a href="#"><img src="../../../assets/Logo.png" class="src" /></a>
    </div>
    <nav>
        <ul>
            <li class="nav-item">
                <a href="/products">Products</a>
                <product-dropdown class="dropdown-content"></product-dropdown>
            </li>
            <li><a href="/services">Services</a></li>
            <li><a href="/design">Design</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="right-group">
        <div class="search">
            <input type="text" placeholder="Search" />
            <button
                class="btn btn-outline-secondary border bi bi-search"
                type="button"
            ></button>
        </div>
        <a class="position-relative" href="/checkout"
            ><div class="cart bi-cart2"></div>
            <span
                class="badge rounded-pill bg-primary position-absolute"
                id="cart-count"
                style="top: 0; right: 0; transform: translate(50%, -50%)"
                >{{ cartCount }}</span
            ></a
        >
        <div class="profile bi bi-person-circle"></div>
    </div>
</div>
