.product-page {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* max-width: 75%; */
    margin: auto;
}

h1 {
    font-size: 24px;
}

h2 {
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead th {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
}

tbody td {
    padding: 10px;
    border: 1px solid #ccc;
    vertical-align: top;
    position: relative;
}

.price-column {
    width: 30%;
}

.price-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.price {
    color: red;
    font-weight: bold;
    display: block;
}

.content {
    display: flex;
    gap: 40px;
}

.diagram img {
    /* width: 200px;
    height: 200px; */
    object-fit: cover;
    /* border: 1px solid #ccc;
    border-radius: 4px; */
}

.description {
    padding-left: 20px;
    flex: 1;
}

.description p {
    margin: 2px 0;
}

.description strong {
    display: inline-block;
    width: 200px;
}

/* Button groups */
.button-design-group {
    display: flex;
    gap: 20px;
    /* Space between buttons */
    justify-content: center;
    /* Center the buttons */
    padding: 20px;
    /* Optional padding around the buttons */
}

.button-service-group {
    display: flex;
    gap: 10px;
    /* Space between buttons */
    justify-content: center;
    /* Center the buttons */
    padding: 20px;
    /* Padding around the buttons */
    border: 1px solid #000;
    /* Border around the entire button group */
}

.button-nav-group {
    display: flex;
    gap: 10px;
    /* Space between buttons */
    justify-content: center;
    /* Center the buttons */
    padding: 20px;
    /* Optional padding around the buttons */
}

/* Basic button styles */
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Default style for light gray buttons */
.button.light {
    background-color: #f1f3f5;
    color: #333;
}

/* Style for the blue button */
.button.blue {
    background-color: #007bff;
    color: #fff;
}

.button.orange {
    background-color: #f7941e;
    /* Orange background */
    color: #fff;
    /* White text color */
}

/* Hover effects */
.button.light:hover {
    background-color: #e2e6ea;
}

.button.blue:hover {
    background-color: #0069d9;
}

.button.orange:hover {
    background-color: #e68700;
    /* Darker orange on hover */
}