.product-list-container {
    width: 66%;
    margin: auto;
}

.heading {
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
}