* {
    margin: 20px;
}

.product-list-container {
    width: 80%;
    margin: auto;
}

.heading {
    margin-top: 50px;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.product-list {
    display: flex;
    justify-content: left;
    /* margin: 20px; */
    margin-top: 20px;
}