<div class="container">
    <div class="category">
        <h2><a href="#">CRISPR Products</a></h2>
        <ul>
            <li><i class="bi-caret-right-fill"></i><a href="#">CRISPR Feature Vectors</a></li>
            <li><i class="bi-caret-right-fill"></i><a href="#">CRISPR Premade List</a></li>
        </ul>
    </div>
    <div class="category">
        <h2><a href="#">Cloning Products</a></h2>
        <ul>
            <li><i class="bi-caret-right-fill"></i><a href="#">Cloning Feature Vectors</a></li>
            <li><i class="bi-caret-right-fill"></i><a href="#">Cloning Premade List</a></li>
        </ul>
    </div>
    <div class="category">
        <h2><a href="#">Lentivirus</a></h2>
    </div>
    <div class="category">
        <h2><a href="#">RNAi Products</a></h2>
        <ul>
            <li><i class="bi-caret-right-fill"></i><a href="#">RNAi Feature Vectors</a></li>
            <li><i class="bi-caret-right-fill"></i><a href="#">RNAi Premade List</a></li>
        </ul>
    </div>
    <div class="category">
        <h2><a href="#">AAV Products</a></h2>
    </div>
    <div class="category">
        <h2><a href="#">Stable Cell Lines</a></h2>
    </div>
</div>