<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Select function category</ng-template>
            <div class="container">
                @for (card of productCategoryCards; track card.category_id) {
                <button class="button-card"
                    [ngClass]="{'selected': firstFormGroup.value.productCategoryId === card.category_id}"
                    (click)="handleProductCategoryClick(card)">
                    <i class="bi bi-boxes h1"></i>
                    <!-- <div class="logo">
                        <img src="{{card.logoUrl}}" alt="Logo">
                    </div> -->
                    <div class="text">{{card.category_name}}</div>
                </button>
                }
            </div>
            <!-- <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="name" required>
            </mat-form-field> -->
            <div>
                <button mat-button matStepperNext (click)="submitFirstForm()">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Select function type">
        <form [formGroup]="secondFormGroup">
            <div class="container">
                @for (card of functionTypeCards; track card.function_type_id) {
                <button class="button-card"
                    [ngClass]="{'selected': secondFormGroup.value.functionTypeId === card.function_type_id}"
                    (click)="handleFunctionTypeClick(card)">
                    <i class="bi bi-boxes h1"></i>
                    <div class="text">{{card.function_type_name}}</div>
                </button>
                }
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext (click)="submitSecondForm()">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Select delivery type">
        <form [formGroup]="thirdFormGroup">
            <div class="container">
                @for (card of deliveryTypeCards; track card.delivery_type_symbol) {
                <button class="button-card"
                    [ngClass]="{'selected': thirdFormGroup.value.deliveryTypeSymbol === card.delivery_type_symbol}"
                    (click)="handleDeliveryTypeClick(card)">
                    <i class="bi bi-boxes h1"></i>
                    <div class="text">{{card.delivery_type_name}}</div>
                </button>
                }
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext (click)="submitThirdForm()">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup" label="CodeP">
        <form [formGroup]="fourthFormGroup">
            <mat-tab-group>
                <mat-tab label="Promoter">
                    <div class="container">
                        @for (card of promoterCards; track card.promoter_code) {
                        <button class="button-card"
                            [ngClass]="{'selected': fourthFormGroup.value.promoterCode === card.promoter_code}"
                            (click)="handlePromoterClick(card)">
                            <i class="bi bi-box-seam h1"></i>
                            <div class="text">{{card.promoter_name}}</div>
                        </button>
                        }
                    </div>
                </mat-tab>
                <mat-tab label="Protein Tag">
                    <div class="container">
                        @for (card of proteinTagCards; track card.protein_tag_code) {
                        <button class="button-card"
                            [ngClass]="{'selected': fourthFormGroup.value.proteinTagCode === card.protein_tag_code}"
                            (click)="handleProteinTagClick(card)">
                            <i class="bi bi-box-seam h1"></i>
                            <div class="text">{{card.protein_tag_name}}</div>
                        </button>
                        }
                    </div>
                </mat-tab>
                <mat-tab label="Fluorescene Marker">
                    <div class="container">
                        @for (card of fluoresceneMarkerCards; track card.fluorescene_marker_code) {
                        <button class="button-card"
                            [ngClass]="{'selected': fourthFormGroup.value.fluoresceneMarkerCode === card.fluorescene_marker_code}"
                            (click)="handleFluoresceneMarkerClick(card)">
                            <i class="bi bi-box-seam h1"></i>
                            <div class="text">{{card.fluorescene_marker_name}}</div>
                        </button>
                        }
                    </div>
                </mat-tab>
                <mat-tab label="Selection Marker">
                    <div class="container">
                        @for (card of selectionMarkerCards; track card.selection_marker_code) {
                        <button class="button-card"
                            [ngClass]="{'selected': fourthFormGroup.value.selectionMarkerCode === card.selection_marker_code}"
                            (click)="handleSelectionMarkerClick(card)">
                            <i class="bi bi-box-seam h1"></i>
                            <div class="text">{{card.selection_marker_name}}</div>
                        </button>
                        }
                    </div>
                </mat-tab>
                <mat-tab label="Antibiotics">
                    <div class="container">
                        @for (card of bacterialMarkerCards; track card.bacterial_marker_code) {
                        <button class="button-card"
                            [ngClass]="{'selected': fourthFormGroup.value.bacterialMarkerCode === card.bacterial_marker_code}"
                            (click)="handleBacterialMarkerClick(card)">
                            <i class="bi bi-box-seam h1"></i>
                            <div class="text">{{card.bacterial_marker_name}}</div>
                        </button>
                        }
                    </div>
                </mat-tab>
            </mat-tab-group>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext (click)="onSubmit()">Submit</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>