<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Select function category</ng-template>
            <div class="container">
                @for (card of productCategoryCards; track card.category_id) {
                <button class="button-card" [class.selected]="isSelected(1, card.category_id)"
                    (click)="handleProductCategoryClick(card)">
                    <i class="bi bi-boxes h1"></i>
                    <!-- <div class="logo">
                        <img src="{{card.logoUrl}}" alt="Logo">
                    </div> -->
                    <div class="text">{{card.category_name}}</div>
                </button>
                }
            </div>
            <!-- <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="name" required>
            </mat-form-field> -->
            <div>
                <button mat-button matStepperNext (click)="submitProductCategory()">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Select function type">
        <form [formGroup]="secondFormGroup">
            <div class="container">
                @for (card of functionTypeCards; track card.function_type_id) {
                <button class="button-card" [class.selected]="isSelected(2, card.function_type_id)"
                    (click)="handleFunctionTypeClick(card)">
                    <i class="bi bi-boxes h1"></i>
                    <!-- <div class="logo">
                                <img src="{{card.logoUrl}}" alt="Logo">
                            </div> -->
                    <div class="text">{{card.function_type_name}}</div>
                </button>
                }
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Select delivery type">
        <form [formGroup]="thirdFormGroup">
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext (click)="onSubmit()">Submit</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>