.main-container {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.payment-container {
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .main-container {
        width: 100%;
        /* Adjust width to fit smaller screens */
        grid-template-columns: 1fr;
        /* Make it a single column */
    }
}

/* Order Summary Table */

.order-summary-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    margin: auto;
    /* Full width */
    box-sizing: border-box;
}

.order-summary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.order-summary-title {
    margin: 0;
    font-size: 24px;
    flex-grow: 1;
    /* Allows it to take up the available space in the center */
    text-align: center;
}

.order-summary-edit-button {
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.order-summary-edit-button:hover {
    background-color: #007bff;
    color: white;
}

.order-summary-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    /* Ensures columns are of equal width */
}

.order-summary-column-head {
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.order-summary-column-title {
    font-weight: bold;
    text-align: right;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.order-summary-divider-row {
    border-top: 1px solid #ddd;
}

.order-summary-item-name {
    padding: 10px;
}

.order-summary-item-qty,
.order-summary-item-subtotal,
.order-summary-savings-amount,
.order-summary-total-amount {
    text-align: right;
    padding: 10px;
}

.order-summary-item-qty {
    font-weight: normal;
}

.order-summary-item-subtotal,
.order-summary-total-amount {
    font-weight: bold;
    color: #333;
}

.order-summary-savings-label {
    color: #e63946;
    font-weight: bold;
    padding: 10px;
}

.order-summary-savings-amount {
    color: #e63946;
    text-align: right;
    padding: 10px;
}

.order-summary-discount-row {
    color: #e63946;
    font-size: 0.9em;
}

.order-summary-discount {
    padding-left: 20px;
    font-style: italic;
}

.order-summary-total-label {
    font-weight: bold;
    padding: 10px;
}

/* Checkout Accordian */

.checkout-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin: 0;
    margin-bottom: 10px;
}

.mat-form-field {
    flex: 1 1 calc(50% - 10px);
    /* Adjust the basis to account for the gap */
    margin: 0;
}

.full-width {
    width: 100%;
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
}

mat-expansion-panel {
    margin-bottom: 16px;
}

.secondary-button {
    margin-left: auto;
    /* Push the button to the right */
}

.preview-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* margin-right: 16px; */
}

.shipping-preview {
    font-size: 14px;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.87);
}

.shipping-preview div {
    margin: 2px 0;
}

/* Ensure the edit button doesn't get cut off */
mat-expansion-panel-header {
    height: auto !important;
    padding: 16px;
}

/* Add some spacing between preview text and edit button */
mat-panel-description {
    margin-right: 48px;
}

/* Order Review Styles */
.order-review {
    padding: 16px 0;
}

.price-row {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    font-size: 16px;
}

.total {
    font-weight: 500;
    font-size: 18px;
    margin-top: 16px;
}

.divider {
    margin: 16px 0;
}

.payment-divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
    position: relative;
    text-align: center;
    color: #999;
}

.payment-divider::before,
.payment-divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ddd;
    margin: 0 10px;
}

.payment-divider-text {
    background-color: #fff;
    padding: 0 10px;
}

.order-review-container {
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
}

.order-review-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.order-details-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.refund-policy-link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.refund-policy-link:hover {
    text-decoration: underline;
}

.order-summary {
    text-align: right;
}

/* .cart-section,
.order-summary {
    background: white;
    border-radius: 8px;
    padding: 24px;
} */

.order-item {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
    font-weight: 600;
    color: #1f2937;
    font-size: 18px;
}

.order-label {
    display: flex;
    flex-direction: row;
    font-weight: normal;
    flex-wrap: wrap;
    width: 70%;
    text-align: left;
}

.order-value {
    font-weight: normal;
}

.order-total .order-label,
.order-total .order-value {
    font-weight: bold;
}

hr.solid {
    border-top: 3px solid #bbb;
}



.cart-item {
    display: grid;
    grid-template-columns: 2fr auto auto auto;
    gap: 20px;
    align-items: center;
    padding-bottom: 24px;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-title {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #281A39
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}