<div class="main-container">
    <div class="checkout-container">
        <mat-accordion>
            @if (!authService.isAuthenticated) {
            <div>
                Log in here if you already have an account:
                <a href="/login?redirectUrl=checkout">Login</a>
            </div>
            <!-- Signup Panel -->
            <mat-expansion-panel
                [expanded]="isSignupPanelOpen"
                [disabled]="isSignupPanelDisabled"
            >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        First time? Enter email to create new account and
                        proceed to checkout.
                    </mat-panel-title>
                    @if (showSignupPreview) {
                    <mat-panel-description class="preview-container">
                        <button
                            mat-button
                            class="secondary-button"
                            (click)="editSignup(); $event.stopPropagation()"
                        >
                            Edit
                        </button>
                    </mat-panel-description>
                    }
                </mat-expansion-panel-header>

                <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
                    <div class="form-row">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" required />
                        </mat-form-field>
                    </div>
                    <button
                        mat-raised-button
                        class="primary-button"
                        color="primary"
                        type="submit"
                        [disabled]="!signupForm.valid"
                    >
                        Continue to Shipping
                    </button>
                    @if (signupErrorMsg !== '') {
                    <div class="error-message">{{ signupErrorMsg }}</div>
                    }
                </form>
            </mat-expansion-panel>
            } @else {
            <!-- Shipping Panel -->
            <mat-expansion-panel
                [expanded]="isShippingPanelOpen"
                [disabled]="isShippingPanelDisabled"
            >
                <mat-expansion-panel-header>
                    <mat-panel-title> 1. Shipping Information </mat-panel-title>
                    <mat-panel-description class="preview-container">
                        @if (showShippingPreview) {
                        <div class="shipping-preview">
                            <div>
                                <strong>{{ shippingPreview.name }}</strong>
                            </div>
                            <div>{{ shippingPreview.address }}</div>
                            <div>{{ shippingPreview.cityStateZip }}</div>
                        </div>
                        <button
                            mat-button
                            class="secondary-button"
                            (click)="editShipping(); $event.stopPropagation()"
                        >
                            Edit
                        </button>
                        }
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <form
                    [formGroup]="shippingForm"
                    (ngSubmit)="onShippingSubmit()"
                >
                    <div class="form-row">
                        <mat-form-field
                            class="mat-form-field"
                            appearance="outline"
                        >
                            <mat-label>First Name</mat-label>
                            <input
                                matInput
                                formControlName="firstName"
                                required
                            />
                            @if
                            (shippingForm.controls['firstName'].hasError('required'))
                            {
                            <mat-error> First name is required </mat-error>
                            }
                        </mat-form-field>

                        <mat-form-field
                            class="mat-form-field"
                            appearance="outline"
                        >
                            <mat-label>Last Name</mat-label>
                            <input
                                matInput
                                formControlName="lastName"
                                required
                            />
                            @if (shippingForm.get('lastName')
                            ?.hasError('required')) {
                            <mat-error> Last name is required </mat-error>
                            }
                        </mat-form-field>
                    </div>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="address" required />
                        @if (shippingForm.get('address')?.hasError('required'))
                        {
                        <mat-error> Address is required </mat-error>
                        }
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label
                            >Apt, suite, unit, building, floor, etc.</mat-label
                        >
                        <input matInput formControlName="apt" />
                    </mat-form-field>

                    <div class="form-row">
                        <mat-form-field appearance="outline">
                            <mat-label>City</mat-label>
                            <input matInput formControlName="city" required />
                            @if (shippingForm.get('city')?.hasError('required'))
                            {
                            <mat-error> City is required </mat-error>
                            }
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>State</mat-label>
                            <mat-select formControlName="state" required>
                                @for (state of states; track state.code) {
                                <mat-option [value]="state.code">
                                    {{ state.name }}
                                </mat-option>
                                }
                            </mat-select>
                            @if
                            (shippingForm.get('state')?.hasError('required')) {
                            <mat-error> State is required </mat-error>
                            }
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>ZIP Code</mat-label>
                            <input
                                matInput
                                formControlName="zipCode"
                                required
                            />
                            @if (shippingForm .get('zipCode')
                            ?.hasError('required')) {
                            <mat-error> ZIP code is required </mat-error>
                            } @if
                            (shippingForm.get('zipCode')?.hasError('pattern')) {
                            <mat-error>
                                Please enter a valid ZIP code
                            </mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <button
                        mat-raised-button
                        class="primary-button"
                        color="primary"
                        type="submit"
                    >
                        Continue to Billing
                    </button>
                </form>
            </mat-expansion-panel>

            <!-- Billing Panel -->
            <mat-expansion-panel
                [disabled]="isBillingPanelDisabled"
                [expanded]="!isBillingPanelDisabled"
            >
                <mat-expansion-panel-header>
                    <mat-panel-title> 2. Billing Information </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label class="tab-label">
                            <i
                                class="bi bi-credit-card fs-5"
                                style="margin-right: 1rem"
                            ></i>
                            Credit Card
                        </ng-template>
                        <div
                            id="paypal-button-container"
                            class="payment-container mt-4"
                        ></div>

                        <div class="payment-divider">
                            <span class="payment-divider-text">or</span>
                        </div>
                        <div id="card-form" class="card_container">
                            <div id="card-name-field-container"></div>
                            <div id="card-number-field-container"></div>
                            <div id="card-expiry-field-container"></div>
                            <div id="card-cvv-field-container"></div>

                            <!-- <label>Billing Address</label>

                    <form
                        [formGroup]="billingAddressForm"
                        (ngSubmit)="submitCardField()"
                    >
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Address Line 1</mat-label>
                            <input
                                matInput
                                formControlName="address"
                                required
                            />
                            @if
                            (billingAddressForm.get('address')?.hasError('required'))
                            {
                            <mat-error> Address is required </mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>City</mat-label>
                            <input
                                matInput
                                formControlName="address"
                                required
                            />
                            @if
                            (billingAddressForm.get('address')?.hasError('required'))
                            {
                            <mat-error> Address is required </mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>State</mat-label>
                            <input
                                matInput
                                formControlName="address"
                                required
                            />
                            @if
                            (billingAddressForm.get('address')?.hasError('required'))
                            {
                            <mat-error> Address is required </mat-error>
                            }
                        </mat-form-field>
                    </form> -->
                            <!-- <br /><br /> -->
                        </div>
                    </mat-tab>
                    @if (totalPrice >= 100) {
                    <mat-tab>
                        <ng-template mat-tab-label class="tab-label">
                            <i
                                class="bi bi-file-earmark-text fs-5"
                                style="margin-right: 1rem"
                            ></i>
                            Purchase Order (PO)
                        </ng-template>
                        <form [formGroup]="purchaseOrderForm" class="mt-4">
                            <mat-form-field
                                appearance="outline"
                                class="full-width"
                            >
                                <mat-label>Purchase Order Number</mat-label>
                                <input
                                    matInput
                                    formControlName="order_number"
                                />
                            </mat-form-field>
                            <div class="ml-1 mb-4">
                                <label class="form-label h6"
                                    >Upload PO Document<span class="text-danger"
                                        >*</span
                                    ></label
                                >
                                <input
                                    class="form-control"
                                    type="file"
                                    accept="application/pdf"
                                    (change)="onPOFileUpload($event)"
                                />
                            </div>
                        </form>
                    </mat-tab>
                    }
                </mat-tab-group>
                <mat-button-toggle-group
                    class="full-width d-flex"
                    [formControl]="paymentOption"
                >
                    <mat-button-toggle value="credit" class="flex-fill"
                        >Pay with Credit Card</mat-button-toggle
                    >
                    @if (totalPrice >= 100 && totalPrice <= 1000) {
                    <mat-button-toggle
                        value="po"
                        class="flex-fill"
                        (click)="updatePricingForPO()"
                        >Pay with Purchase Order (PO)</mat-button-toggle
                    >
                    } @if (totalPrice > 1000) {
                    <mat-button-toggle
                        value="split"
                        class="flex-fill"
                        (click)="updatePricingForPOSplit()"
                        >Pay 50% Credit 50% PO</mat-button-toggle
                    >
                    }
                </mat-button-toggle-group>
                <button
                    mat-raised-button
                    class="primary-button"
                    type="submit"
                    (click)="checkoutOrder()"
                >
                    Place Order
                </button>
                @if (paymentErrorMsg !== '') {
                <div class="error-message">
                    {{ paymentErrorMsg }}
                </div>
                }
            </mat-expansion-panel>
            }
        </mat-accordion>
    </div>
    <div class="order-review-container full-width">
        <h2 class="order-review-title">Order Review</h2>
        <div class="order-summary">
            @for (item of cartItems; track item.id) {
            <div class="order-item">
                <span class="order-label"
                    >{{ item.product_name }} ({{ item.quantity }})</span
                >
                <span class="order-value"
                    >${{ item.price * item.quantity }}</span
                >
            </div>
            }
            <hr class="solid" />
            <div class="order-item">
                <span class="order-label">Subtotal ({{ quantity }})</span>
                <span class="order-value">${{ subTotal }}</span>
            </div>
            <div class="order-item">
                <span class="order-label">Shipping Fee</span>
                <span class="order-value">${{ shippingFee }}</span>
            </div>
            <div class="order-item">
                <span class="order-label">Tax</span>
                <span class="order-value">Free</span>
            </div>
            <!-- <div class="order-item">
                <span class="order-label">Tax</span>
                @if (taxRate == 1) {
                <span class="order-value">-</span>
                } @else {
                <span class="order-value">${{ taxAmount }}</span>
                }
            </div> -->
            <hr class="solid" />
            @if (paymentOption.value === 'po' || paymentOption.value ===
            'split') {
            <div class="order-item order-total">
                <span class="order-label">PO Payment</span>
                <span class="order-value">${{ poPrice }}</span>
            </div>
            <div class="order-item order-total">
                <span class="order-label">Amount Due</span>
                <span class="order-value">${{ creditPrice }}</span>
            </div>
            } @else {
            <div class="order-item order-total">
                <span class="order-label">Total</span>
                <span class="order-value">${{ totalPrice }}</span>
                <!-- <span class="order-value">${{ subTotal + taxAmount }}</span> -->
            </div>
            }
        </div>
    </div>
    @if (isLoading) {
    <div class="spinner-overlay">
        <mat-spinner></mat-spinner>
    </div>
    }
</div>
