<div class="container">
    <div class="header">
        <div class="header-text">
            <h1>Thank you for your order #3911690705825</h1>
            <p>
                We'll send you an email with tracking information when your item
                ships.
            </p>
        </div>
        <a href="#" class="secondary-button">Continue Shopping</a>
    </div>

    <div class="order-box">
        <p><strong>Order placed:</strong> Sat, May 1</p>
        <p><strong>Arrives by:</strong> Tue, May 10</p>
        <p><strong>Shipping Address:</strong></p>
        <p>John Newman</p>
        <p>2125 Chestnut Street</p>
        <p>San Francisco, CA 94123</p>
        <p>test-ordeaymard.com</p>
    </div>

    <div class="info-container">
        <div class="order-summary">
            <h2>Order Summary</h2>
            <hr />
            <p>Subtotal: $4.43</p>
            <p>Value Shipping: $4.97</p>
            <p>Estimated Tax: $0.39</p>
            <hr />
            <p class="total">Total: $9.79</p>
        </div>

        <div class="payment-info">
            <h2>Payment Type</h2>
            <hr />
            <p>Visa ending in 8903</p>
        </div>

        <div class="billing-info">
            <h2>Billing Address</h2>
            <hr />
            <p>John Newman</p>
            <p>2125 Chestnut Street</p>
            <p>San Francisco, CA 94123</p>
            <p>test-ordard.com</p>
        </div>
    </div>
</div>
