<div class="container">
    <div class="header">
        <div class="header-text">
            <h1>Thank you for your order #{{ token }}</h1>
            <p>
                We'll send you an email with tracking information when your item
                ships.
            </p>
        </div>
        <a href="#" class="secondary-button">Continue Shopping</a>
    </div>

    <div class="order-box">
        <p><strong>Order placed:</strong> {{ order_placed_date }}</p>
        <p><strong>Arrives by:</strong> {{ delivery_date }}</p>
        <p><strong>Shipping Address:</strong></p>
        <p>John Newman</p>
        <p>{{ shipping_address.address_line_1 }}</p>
        <p>
            {{ shipping_address.city }}, {{ shipping_address.state }}
            {{ shipping_address.zipcode }}
        </p>
    </div>

    <div class="info-container">
        <div class="order-summary">
            <h2>Order Summary</h2>
            <hr />
            <p>Subtotal: ${{ subtotal }}</p>
            <p>Value Shipping: ${{ shipping_amount }}</p>
            <p>Estimated Tax: ${{ tax_amount }}</p>
            <hr />
            <p class="total">Total: ${{ total_price }}</p>
        </div>

        <div class="payment-info">
            <h2>Payment Type</h2>
            <hr />
            @if (payment_source !== 'Made with PayPal') {
            <p>{{ payment_source }} ending in {{ last_digits }}</p>
            } @else {
            <p>Made with PayPal</p>
            }
        </div>

        <div class="billing-info">
            <h2>Billing Address</h2>
            <hr />
            <p>John Newman</p>
            <p>{{ shipping_address.address_line_1 }}</p>
            <p>
                {{ shipping_address.city }}, {{ shipping_address.state }}
                {{ shipping_address.zipcode }}
            </p>
        </div>
    </div>
</div>
