.order-confirmation-container {
    width: 65%;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 20px;
}

.header-text {
    text-align: left;
}


h1 {
    color: #333;
    font-weight: bold;
}

.order-box {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 20px;
}

.order-box p {
    margin: 5px 0;
}

.order-summary,
.payment-info,
.billing-info {
    flex: 1;
    padding: 10px;
    background: #fff;
    margin: 5px;
    margin-bottom: 20px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.total {
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 1650px) {
    .order-confirmation-container {
        width: 90%;
    }
}