<body>
    <div class="container">
        <div class="cart-section">
            <h1>My cart</h1>
            @for (item of cartItems; track item.id) {
            <div class="cart-item">
                <div class="product-info">
                    <a href="{{ item.url }}" class="product-title">{{
                        item.product_name
                    }}</a>
                    <div class="product-price">${{ item.price }}</div>
                </div>

                <div class="right-content">
                    <quantity-input
                        [quantity]="item.quantity"
                        (quantityChange)="onQuantityChange(item.id, $event)"
                    ></quantity-input>

                    <div class="total-price">
                        ${{ item.price * item.quantity }}
                    </div>
                </div>

                <button class="delete-button" (click)="removeItem(item.id)">
                    🗑️
                </button>
            </div>
            }

            <!-- <div class="promo-code">🏷️ Enter a promo code</div>

            <div class="note">📝 Add a note</div> -->
        </div>

        <div class="order-summary">
            <h2>Order summary</h2>

            <div class="order-row">
                <span>Subtotal ({{ totalItems }} items)</span>
                <span>${{ subTotal }}</span>
            </div>

            @if (totalItems > 0) {
            <hr class="solid" />
            <div class="order-row">
                <span>Delivery Fee</span>
                <span
                    >${{ checkoutService.calculateDeliveryFee(subTotal) }}</span
                >
            </div>
            <div class="order-row">
                <span>Tax</span>
                <span>Free</span>
            </div>
            <hr class="solid" />
            <div class="order-row total-row">
                <span>Total</span>
                <span
                    >${{
                        subTotal +
                            checkoutService.calculateDeliveryFee(subTotal)
                    }}</span
                >
            </div>
            }

            <primary-button url="/checkout"></primary-button>

            <div class="secure-text">🔒 Secure Checkout</div>
        </div>
    </div>
</body>
