.signup-container {
    max-width: 40%;
    margin: 40px auto;
    padding: 30px;
    position: relative;
    font-family: Monterserrat, sans-serif;
    color: #281A39;
}

.close-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    cursor: pointer;
    color: #281A39;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold;
}

.signup-text {
    margin-bottom: 30px;
    font-size: 16px;
}

.signup-link {
    text-decoration: underline;
    color: #281A39;
    cursor: pointer;
}

.form-group {
    width: 100%;
    margin-bottom: 10px;
}

.form-row {
    display: flex;
    gap: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.error-message {
    color: #FF0000;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #281A39;
    text-decoration: underline;
}

.signup-button {
    width: 100%;
    padding: 15px;
    background-color: #281A39;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.signup-button:hover {
    opacity: 0.9;
}