.landing-container {
    width: 65%;
    margin: auto;
}

.list-container {
    margin: 50px 0;
}

.research-blog {
    margin-bottom: 30px;
}

@media (max-width: 1650px) {
    .landing-container {
        width: 90%;
    }
}