<div class="container">
    <div class="category">
        <h2>Genome Editing Kits</h2>
        <ul>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="/products/overexpression"
                    >Overexpression Targeted Knock-In</a
                >
            </li>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="/products/gene-knock-in">Gene Knock-In Tagging</a>
            </li>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="/products/gene-knock-out">Gene Knock-out</a>
            </li>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="/products/gene-deletion">Gene Deletion</a>
            </li>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="/products/rna-knock-down">CRISPR RNA Knock-down</a>
            </li>
        </ul>
    </div>
    <div class="category">
        <h2>Vector Clones</h2>
        <ul>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="#">cDNA Clones Vectors</a>
            </li>
        </ul>
    </div>
    <div class="category">
        <h2>Lentivirus</h2>
        <ul>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="#">Lentivirus On The Shelf</a>
            </li>
        </ul>
    </div>
    <div class="category">
        <h2>Stable Cell Line</h2>
        <ul>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="#">Stable Cell Line On The Shelf</a>
            </li>
        </ul>
    </div>
</div>
