<div class="container">
    <div class="category">
        <h2>Genome Editing Kits</h2>
        <ul>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="/products/overexpression"
                    >Overexpression Targeted Knock-In</a
                >
            </li>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="/products/gene-knock-in">Gene Knock-In Tagging</a>
            </li>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="/products/gene-knock-out">Gene Knock-out</a>
            </li>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="/products/gene-deletion">Gene Deletion</a>
            </li>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="/products/rna-knock-down">CRISPR RNA Knock-down</a>
            </li>
        </ul>
    </div>
    <div class="category">
        <h2>Vector Clones</h2>
        <ul>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="/products/vectors-on-shelf"
                    >Template Vectors on the shelf</a
                >
            </li>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="/products/cdna-vector-stock"
                    >cDNA Vectors stock on the shelf</a
                >
            </li>
        </ul>
    </div>
    <div class="category">
        <h2>Lentivirus</h2>
        <ul>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="/products/lentivirus-control-stock"
                    >Lentivirus On The Shelf</a
                >
            </li>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="/products/cdna-lentivirus-stock"
                    >cDNA Lentivirus On the shelf</a
                >
            </li>
        </ul>
    </div>
    <div class="category">
        <h2>Stable Cell Line</h2>
        <ul>
            <li>
                <i class="bi-caret-right-fill text-success"></i
                ><a href="/products/stable-cell-line-stock"
                    >Stable Cell Line On The Shelf</a
                >
            </li>
        </ul>
    </div>
</div>
