<div class="full-container">
    <div class="container">
        <div class="product-sidebar">
            <product-sidebar></product-sidebar>
        </div>

        <div class="main-content">
            <div class="heading-section">
                <h2>{{ title }}</h2>
                <!-- <hr class="heading-line" />
                <p>
                    The product offers a tool for integrating target genes or
                    regulatory cassettes into designated safe harbor sites, such
                    as AAVS1, CCR5.
                </p> -->
            </div>
            <!-- 
            <div class="floating-box" #floatingBox>
                <product-sidebar></product-sidebar>
            </div> -->

            <div class="product-container">
                <div class="product-section" [innerHTML]="content"></div>
                <div class="product-section">
                    <p>
                        If you have any further inquiries regarding your
                        project, please click the button to contact us. We are
                        fully equipped to accommodate a wide range of your
                        requirements.
                    </p>
                    <a href="/quote" class="custom-design-button"
                        >Get a Quote</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
