<div *ngIf="showPopup" class="popup-container">
    <div class="popup-box">
        <button type="button" class="close-btn" (click)="togglePopup()">
            <i class="bi bi-x"></i>
        </button>
        <div class="popup-content">
            <p>Items:</p>
            <ul>
                <li *ngFor="let item of items">
                    {{ item.product_sku }}, {{ item.quantity }}
                </li>
            </ul>
            <p>successfully added to your cart!</p>
            <div class="popup-buttons">
                <a class="btn btn-primary" href="/cart"> View Cart </a>
                <a class="btn btn-success" href="/checkout"> Checkout </a>
            </div>
        </div>
    </div>
</div>
