<div *ngIf="showPopup" class="popup-container">
    <div class="popup-box">
        <button type="button" class="close-btn" (click)="togglePopup()">
            <i class="bi bi-x"></i>
        </button>
        <div class="popup-content">
            <p>Item {{ productName }} added to cart!</p>
            <div class="popup-buttons">
                <button class="btn btn-primary" (click)="togglePopup()">
                    View Cart
                </button>
                <button class="btn btn-success" (click)="togglePopup()">
                    Checkout
                </button>
            </div>
        </div>
    </div>
</div>
