<div class="promotion-container">
    <h1 class="heading">Promotions</h1>

    <div class="promotions-container">
        @for (product of products; track product.catalog_number) {
        <a
            href="/product/featured/{{ product.catalog_number }}"
            class="promo-item"
        >
            <!-- <img src="product-image.png" alt="Product 1" /> -->
            <div class="promo-title">
                {{ product.product_name }}
                <span class="badge">NEW!</span>
            </div>
            <div class="promo-price">
                ${{ product.price | number : "1.2-2" }}
            </div>
            <div class="promo-button">Get Details</div>
        </a>
        }
    </div>
</div>
