<div class="promotion-container">
    <h1 class="heading">Featured Products</h1>

    <div class="promotions-container">
        @for (product of products; track product.catalog_number) {
        <a
            href="/product/featured/{{ product.catalog_number }}"
            class="promo-item"
        >
            <span class="badge">NEW!</span>
            <img src="{{ fullUrl(product.image) }}" alt="Product 1" />
            <div class="promo-title">
                {{ product.product_name }}
            </div>
            <div class="promo-price">
                ${{ product.unit_price | number : "1.2-2" }}
            </div>
        </a>
        }
    </div>
</div>
