<div class="product-page">
    <design-diagram
        [category]="product_category$.value"
        [functionTypeName]="function_type_name$.value"
        [structureTypeName]="structure_type_name$.value"
        [promoterName]="promoter_name$.value"
        [proteinTagName]="protein_tag_name$.value"
        [fluoresceneMarkerName]="fluorescene_marker_name$.value"
        [selectionMarkerName]="selection_marker_name$.value"
        [bacterialMarkerName]="bacterial_marker_name$.value"
        [targetSequence]="target_sequence$.value"
        [geneSymbol]="gene_symbol$.value"
    ></design-diagram>
    <!-- <h1>{{ product_name }}</h1> -->
    <!-- <div class="content">
        <div class="diagram">
            <img src="../../../assets/lego-design-diagram.png" alt="Diagram" />
        </div>
        <div class="description">
            <p><strong>SKU Number:</strong>{{ product_sku }}</p>
            <p>
                <strong>Function Type: </strong>{{ function_type_name$.value }}
            </p>
            <p class="mb-3">
                <strong>Structure Type: </strong
                >{{ structure_type_name$.value }}
            </p>
            <p><strong>Promoter: </strong>{{ promoter_name$.value }}</p>
            <p><strong>Protein Tag: </strong>{{ protein_tag_name$.value }}</p>
            <p>
                <strong>Fluorescene Marker: </strong
                >{{ fluorescene_marker_name$.value }}
            </p>
            <p>
                <strong>Selection Marker: </strong
                >{{ selection_marker_name$.value }}
            </p>
            <p class="mb-3">
                <strong>Antibiotics: </strong>{{ bacterial_marker_name$.value }}
            </p>
            <p class="mb-3">
                <strong>Target Sequence: </strong>{{ target_sequence$.value }}
            </p>
            <div class="button-service-group">
                <button class="button orange">Save Design</button>
                @if (showProtocol()) {
                <button class="button orange">View Protocol</button>
                }
                <button class="button orange">Customer Service</button>
            </div>
        </div>
    </div> -->
    <div class="mt-3 p-4">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Delivery Format</th>
                    <th>Format Description</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entry of deliveryFormatTable | keyvalue">
                    <td>
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                [formControl]="getFormControl(entry.key)"
                                type="checkbox"
                            />
                        </div>
                    </td>
                    <td>{{ entry.value[0].delivery_format_name }}</td>
                    <td>{{ entry.value[0].product_format_description }}</td>
                    <td>{{ entry.value[0].product_name }}</td>
                    <td>
                        <select [formControl]="getFormControl(entry.key)">
                            <option
                                *ngFor="
                                    let quantity of entry.value;
                                    let i = index
                                "
                                [value]="i"
                                [disabled]="
                                    getFormControl(entry.key).value == ''
                                "
                            >
                                {{ quantity.quantity }}
                            </option>
                        </select>
                    </td>
                    <td>
                        @if (entry.value[0].unit_price !== null) { @if
                        (entry.value[0].on_discount && getUnitPrice(entry.key)
                        != getListPrice(entry.key)) {
                        <span class="list-price"
                            >${{ getListPrice(entry.key) }}</span
                        >
                        <span class="price"
                            >${{ getUnitPrice(entry.key) }}</span
                        >
                        } @else {
                        <span class="price"
                            >${{ getUnitPrice(entry.key) }} </span
                        >} } @else {
                        <button (click)="goToConsult()" class="cart-button">
                            Consult
                        </button>
                        }
                    </td>
                </tr>
                <!-- @for (row of deliveryFormatTable; track row) {
                <tr>
                    <td>
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                [formControl]="productId"
                                [value]="row['product_id']"
                                type="radio"
                            />
                        </div>
                    </td>
                    @for (column of deliveryFormatColumns; track column) { @if
                    (column == 'price') {
                    <td>
                        <span class="price">${{ row[column] }}</span>
                    </td>
                    } @else {
                    <td>{{ row[column] }}</td>
                    } }
                </tr>
                } -->
            </tbody>
        </table>
    </div>
    <div class="button-nav-group mt-5">
        <button class="button blue" (click)="addToCart()">Add to Cart</button>
        <button class="button blue" (click)="addTestProduct()">
            Add test product
        </button>
    </div>
    <cart-popup [showPopup]="showPopup" [items]="cartItems"></cart-popup>
</div>
