<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>Customer Service</h3>
            <ul>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="#">Order Tracking</a></li>
                <li><a href="#">Your Account</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Company Policies & Info</h3>
            <ul>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">GDPR Policy</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Helpful Links</h3>
            <ul>
                <li><a href="/design">Design Page</a></li>
                <li><a href="/quote">Get a Quote</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Payment Methods</h3>
            <ul class="payment-methods">
                <li>
                    <img
                        src="https://img.icons8.com/color/48/000000/discover.png"
                        alt="Discover"
                    />
                </li>
                <li>
                    <img
                        src="https://img.icons8.com/color/48/000000/mastercard.png"
                        alt="Mastercard"
                    />
                </li>
                <li>
                    <img
                        src="https://img.icons8.com/color/48/000000/visa.png"
                        alt="Visa"
                    />
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>
            &copy; 2025 Bioone Technology, LLC. All Rights Reserved | 13 Taft,
            Rockville, MD, 20850 | +1 7346042386
        </p>
    </div>
</footer>
