<div class="container mt-3">
    <div class="sidebar">
        <div class="sidebar-header">Navigation Links</div>

        <div>
            <div
                class="category"
                data-bs-toggle="collapse"
                data-bs-target="#productCollapse"
                aria-expanded="false"
            >
                Genome Editing Kits <span class="toggle-icon">+</span>
            </div>
            <div class="collapse" id="productCollapse">
                <div class="subcategory">
                    <a href="/products/overexpression">
                        Overexpression Targeted Knock-In</a
                    >
                </div>
                <div class="subcategory">
                    <a href="/products/gene-knock-in">Gene Knock-In Tagging</a>
                </div>
                <div class="subcategory">
                    <a href="/products/gene-knock-out">Gene Knock-out</a>
                </div>
                <div class="subcategory">
                    <a href="/products/gene-deletion">Gene Deletion</a>
                </div>
                <div class="subcategory">
                    <a href="/products/rna-knock-down">CRISPR RNA Knock-down</a>
                </div>
            </div>
        </div>

        <div>
            <div
                class="category"
                data-bs-toggle="collapse"
                data-bs-target="#pricingCollapse"
                aria-expanded="false"
            >
                Vector Clones <span class="toggle-icon">+</span>
            </div>
            <div class="collapse" id="pricingCollapse">
                <div class="subcategory">
                    <a href="">cDNA Clones Vectors</a>
                </div>
                <div class="subcategory"><a href="">CRISPR Vectors</a></div>
                <div class="subcategory">
                    <a href="services/custom-cloning"
                        >Custom Cloning Services</a
                    >
                </div>
            </div>
        </div>

        <div>
            <div
                class="category"
                data-bs-toggle="collapse"
                data-bs-target="#resourcesCollapse"
                aria-expanded="false"
            >
                Lentivirus <span class="toggle-icon">+</span>
            </div>
            <div class="collapse" id="resourcesCollapse">
                <div class="subcategory">
                    <a href="">Lentivirus On The Shelf</a>
                </div>
                <div class="subcategory">
                    <a href="/services/lentivirus-package"
                        >Lentivirus Package Services</a
                    >
                </div>
            </div>
        </div>

        <div>
            <div
                class="category"
                data-bs-toggle="collapse"
                data-bs-target="#customersCollapse"
                aria-expanded="false"
            >
                Stable Cell Line
                <span class="toggle-icon">+</span>
            </div>
            <div class="collapse" id="customersCollapse">
                <div class="subcategory">
                    <a href="">Stable Cell Line On The Shelf</a>
                </div>
                <div class="subcategory">
                    <a href="/services/stable-cell-line">
                        Stable Cell Line Construction Services</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
