<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form
            [formGroup]="firstFormGroup"
            (ngSubmit)="submitFirstForm(); resetFormsAfter(1)"
        >
            <ng-template matStepLabel>Select function category</ng-template>
            <div class="container">
                @for (card of productCategoryCards; track card.category_id) {
                <button
                    class="button-card"
                    [ngClass]="{
                        selected:
                            firstFormGroup.value.productCategoryId ===
                            card.category_id
                    }"
                    (click)="handleProductCategoryClick(card)"
                >
                    <i class="bi bi-boxes h1"></i>
                    <div class="text">{{ card.category_name }}</div>
                </button>
                }
            </div>
            <div>
                <button mat-button matStepperNext (click)="checkFormCompletion(firstFormGroup)">Next</button>
            </div>
            <div class="error-container">
                <div *ngFor="let message of errorMessages" class="error-message">
                  {{ message }}
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Select function type">
        <form
            [formGroup]="secondFormGroup"
            (ngSubmit)="submitSecondForm(); resetFormsAfter(2)"
        >
            <div class="container">
                @for (card of functionTypeCards; track card.function_type_id) {
                <button
                    class="button-card"
                    [ngClass]="{
                        selected:
                            secondFormGroup.value.functionTypeId ===
                            card.function_type_id
                    }"
                    (click)="handleFunctionTypeClick(card)"
                >
                    <i class="bi bi-boxes h1"></i>
                    <div class="text">{{ card.function_type_name }}</div>
                    <div class="comment">{{ card.description }}</div>
                </button>
                }
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext (click)="checkFormCompletion(secondFormGroup)">Next</button>
            </div>
            <div class="error-container">
                <div *ngFor="let message of errorMessages" class="error-message">
                  {{ message }}
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Select delivery type">
        <form
            [formGroup]="thirdFormGroup"
            (ngSubmit)="submitThirdForm(); resetFormsAfter(3)"
        >
            <div class="container">
                @for (card of structureTypeCards; track
                card.structure_type_symbol) {
                <button
                    class="button-card"
                    [ngClass]="{
                        selected:
                            thirdFormGroup.value.structureTypeSymbol ===
                            card.structure_type_symbol
                    }"
                    (click)="handleDeliveryTypeClick(card)"
                >
                    <i class="bi bi-boxes h1"></i>
                    <div class="text">{{ card.structure_type_name }}</div>
                </button>
                }
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext (click)="checkFormCompletion(thirdFormGroup)">Next</button>
            </div>
            <div class="error-container">
                <div *ngFor="let message of errorMessages" class="error-message">
                  {{ message }}
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup" errorMessage="test" label="Select structure">
        <form [formGroup]="fourthFormGroup" (ngSubmit)="resetFormsAfter(4)">
            <div class="summary-header">
                <h4 class="mb-0 text-muted">Structure Type Table</h4> <!-- Header for the table -->
            </div>
            <table class="summary-table">
                <tbody>
                    <tr>
                        <td><strong>Promoter</strong></td>
                        <td>{{ fourthFormGroup.value.promoterName }}</td>
                    </tr>
                    <tr>
                        <td><strong>Protein Tag</strong></td>
                        <td>{{ fourthFormGroup.value.proteinTagName }}</td>
                    </tr>
                    <tr>
                        <td><strong>Fluorescene Marker</strong></td>
                        <td>{{ fourthFormGroup.value.fluoresceneMarkerName }}</td>
                    </tr>
                    <tr>
                        <td><strong>Selection Marker</strong></td>
                        <td>{{ fourthFormGroup.value.selectionMarkerName }}</td>
                    </tr>
                    <tr>
                        <td><strong>Antibiotics</strong></td>
                        <td>{{ fourthFormGroup.value.bacterialMarkerName }}</td>
                    </tr>
                </tbody>
            </table>
            <mat-tab-group>
                <mat-tab label="Promoter">
                    <div class="container">
                        @for (card of promoterCards; track card.promoter_code) {
                        <button
                            class="button-card"
                            [ngClass]="{
                                selected:
                                    fourthFormGroup.value.promoterName ===
                                    card.promoter_name
                            }"
                            (click)="handlePromoterClick(card)"
                        >
                            <i class="bi bi-box-seam h1"></i>
                            <div class="text">{{ card.promoter_name }}</div>
                        </button>
                        }
                    </div>
                </mat-tab>
                <mat-tab label="Protein Tag">
                    <div class="container">
                        @for (card of proteinTagCards; track
                        card.protein_tag_code) {
                        <button
                            class="button-card"
                            [ngClass]="{
                                selected:
                                    fourthFormGroup.value.proteinTagName ===
                                    card.protein_tag_name
                            }"
                            (click)="handleProteinTagClick(card)"
                        >
                            <i class="bi bi-box-seam h1"></i>
                            <div class="text">{{ card.protein_tag_name }}</div>
                        </button>
                        }
                        <button
                            class="button-card"
                            [ngClass]="{
                                selected:
                                    fourthFormGroup.value.proteinTagName === 'customize'    
                                }"
                            (click)="handleProteinTagClick({protein_tag_name: 'customize'})"
                        >
                            <i class="bi bi-gear h1"></i>
                            <div class="text">Customize</div>
                        </button>
                    </div>
                </mat-tab>
                <mat-tab label="Fluorescene Marker">
                    <div class="container">
                        @for (card of fluoresceneMarkerCards; track
                        card.fluorescene_marker_code) {
                        <button
                            class="button-card"
                            [ngClass]="{
                                selected:
                                    fourthFormGroup.value
                                        .fluoresceneMarkerName ===
                                    card.fluorescene_marker_name
                            }"
                            (click)="handleFluoresceneMarkerClick(card)"
                        >
                            <i class="bi bi-box-seam h1"></i>
                            <div class="text">
                                {{ card.fluorescene_marker_name }}
                            </div>
                        </button>
                        }
                        <button
                            class="button-card"
                            [ngClass]="{
                                selected:
                                    fourthFormGroup.value.fluoresceneMarkerName === 'customize'
                            }"
                            (click)="handleFluoresceneMarkerClick({fluorescene_marker_name: 'customize'})"
                        >
                            <i class="bi bi-gear h1"></i>
                            <div class="text">Customize</div>
                        </button>
                    </div>
                </mat-tab>
                <mat-tab label="Selection Marker">
                    <div class="container">
                        @for (card of selectionMarkerCards; track
                        card.selection_marker_code) {
                        <button
                            class="button-card"
                            [ngClass]="{
                                selected:
                                    fourthFormGroup.value
                                        .selectionMarkerName ===
                                    card.selection_marker_name
                            }"
                            (click)="handleSelectionMarkerClick(card)"
                        >
                            <i class="bi bi-box-seam h1"></i>
                            <div class="text">
                                {{ card.selection_marker_name }}
                            </div>
                        </button>
                        }
                        <button
                            class="button-card"
                            [ngClass]="{
                                selected:
                                    fourthFormGroup.value.selectionMarkerName === 'customize'
                            }"
                            (click)="handleSelectionMarkerClick({selection_marker_name: 'customize'})"
                        >
                            <i class="bi bi-gear h1"></i>
                            <div class="text">Customize</div>
                        </button>
                    </div>
                </mat-tab>
                <mat-tab label="Antibiotics">
                    <div class="container">
                        @for (card of bacterialMarkerCards; track
                        card.bacterial_marker_code) {
                        <button
                            class="button-card"
                            [ngClass]="{
                                selected:
                                    fourthFormGroup.value
                                        .bacterialMarkerName ===
                                    card.bacterial_marker_name
                            }"
                            (click)="handleBacterialMarkerClick(card)"
                        >
                            <i class="bi bi-box-seam h1"></i>
                            <div class="text">
                                {{ card.bacterial_marker_name }}
                            </div>
                        </button>
                        }
                    </div>
                </mat-tab>
            </mat-tab-group>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext (click)="checkFormCompletion(fourthFormGroup)">Next</button>
            </div>
            <div class="error-container">
                <div *ngFor="let message of errorMessages" class="error-message">
                  {{ message }}
                </div>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="fifthFormGroup" label="Select gene type">
        <form
            [formGroup]="fifthFormGroup"
            (ngSubmit)="submitFifthForm(); resetFormsAfter(5)"
        >
            <div class="container">
                <button
                    class="button-card"
                    [ngClass]="{
                        selected:
                            fifthFormGroup.value.geneOption === 'geneSearch'
                    }"
                    (click)="handleTargetSequenceClick('geneSearch', 'IGNORE')"
                >
                    <i class="bi bi-virus h1"></i>
                    <div class="text">Search Target Gene</div>
                </button>
                <button
                    class="button-card"
                    [ngClass]="{
                        selected: fifthFormGroup.value.geneOption === 'scramble'
                    }"
                    (click)="handleTargetSequenceClick('scramble', 'XXXXXX')"
                >
                    <i class="bi bi-virus h1"></i>
                    <div class="text">Scramble</div>
                </button>
                <button
                    class="button-card"
                    [ngClass]="{
                        selected: fifthFormGroup.value.geneOption === 'none'
                    }"
                    (click)="handleTargetSequenceClick('none', '000000')"
                >
                    <i class="bi bi-ban h1"></i>
                    <div class="text">None</div>
                </button>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext (click)="checkFormCompletion(fifthFormGroup)">Next</button>
            </div>
            <div class="error-container">
                <div *ngFor="let message of errorMessages" class="error-message">
                  {{ message }}
                </div>
            </div>
        </form>
    </mat-step>
    @if (showSearchGeneGroup) {
    <mat-step [stepControl]="searchGeneGroup" label="Search for target gene">
        <form [formGroup]="searchGeneGroup" (ngSubmit)="submitSearchGeneForm()">
            <label class="form-label fs-5 mb-3">Enter Gene Symbol</label>
            <div class="input-group">
                <input
                    type="text"
                    formControlName="geneSymbol"
                    class="form-control border-end-0"
                    placeholder="Search"
                />
                <button
                    class="btn btn-outline-secondary border bi bi-search"
                    type="submit"
                ></button>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Sequence Number</th>
                        <th scope="col">Symbol</th>
                        <th scope="col">Name</th>
                        <th scope="col">Locus ID</th>
                    </tr>
                </thead>
                <tbody>
                    @if (geneTable.length > 0) {
                    <tr *ngFor="let row of geneTable">
                        <td>
                            <div class="form-check">
                                <input
                                    class="form-check-input"
                                    name="targetSequence"
                                    formControlName="targetSequence"
                                    [value]="row['target_sequence']"
                                    type="radio"
                                />
                            </div>
                        </td>
                        <td *ngFor="let column of geneColumns">
                            {{ row[column] }}
                        </td>
                    </tr>
                    } @else {
                    <tr>
                        <td colspan="5" style="text-align: center">
                            <em>No results found. Please try again.</em>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext (click)="checkFormCompletion(searchGeneGroup)">Next</button>
            </div>
            <div class="error-container">
                <div *ngFor="let message of errorMessages" class="error-message">
                  {{ message }}
                </div>
            </div>
        </form>
    </mat-step>
    } @if (toggleSummaryStep) {
    <mat-step>
        <ng-template matStepLabel>Summary</ng-template>
        <design-summary
            product_name="Product Name"
            product_sku="CPD100000"
            [function_type_name]="secondFormGroup.value.functionTypeName!"
            [structure_type_name]="thirdFormGroup.value.structureTypeName!"
            [promoter_name]="fourthFormGroup.value.promoterName!"
            [protein_tag_name]="fourthFormGroup.value.proteinTagName!"
            [fluorescene_marker_name]="
                fourthFormGroup.value.fluoresceneMarkerName!
            "
            [selection_marker_name]="fourthFormGroup.value.selectionMarkerName!"
            [bacterial_marker_name]="fourthFormGroup.value.bacterialMarkerName!"
            [target_sequence]="getTargetSequence()!"
        >
        </design-summary>
        <button mat-button (click)="stepper.reset()">Reset</button>
    </mat-step>
    }
</mat-stepper>
